* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.whole {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
/* ----nav--- */
.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 20%;
}
.fa-cog {
  flex: 0.1;
  font-size: 200%;
  text-decoration: none;
  color: black;
  width: 10%;
  height: 10%;
}
.fa-cog:hover {
  text-shadow: 0 0 10px rgb(4, 33, 77);
}
.fa-home {
  flex: 0.1;
  font-size: 200%;
  text-decoration: none;
  color: black;
  width: 10%;
  height: 10%;
}
.fa-home:hover {
  text-shadow: 0 0 2px black;
}
/* -----------logo work-------- */
.logo {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.logoImg {
  flex: 1;
  height: 20%;
  width: 100%;
}
.armimoLogoText {
  flex: 1;
  margin-top: 30%;
  height: 10%;
  width: 80%;
}

/* ----right margin--- */
.rightMargin {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* -----The central div------ */
.center {
  flex: 5;
  padding-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* ----Heading-- */
.aboutusText {
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-family: Megrim;
}
.aboutusText1 {
  font-size: 700%;
}
.aboutusText2 {
  padding-top: 30%;
  color: rgba(4, 61, 3, 1);
  font-size: 300%;
}
.aboutusText3 {
  color: rgba(245, 177, 60, 1);
  font-size: 200%;
  padding-top: 36%;
}
/* ---texts---- */
.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question1 {
  padding-top: 3%;
  font-size: 220%;
  letter-spacing: 2.5px;
  font-family: Linden Hill;
  color: rgba(56, 101, 38, 1);
}
.text1 {
  padding-top: 15%;
  padding-right: 9%;
  padding-top: 2%;
  font-size: 200%;
  font-family: Linden Hill;
  color: rgba(0, 0, 0, 1);
  text-align: justify;
}
.question2 {
  font-size: 220%;
  font-family: Linden Hill;
  color: rgba(245, 177, 60, 1);
  padding-top: 5%;
}
.text2 {
  padding-top: 3%;
  font-family: linden hill;
  font-size: 200%;
  text-align: justify;
}
