* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
/* ------The website content without the logo------ */
.whole {
  height: 100%;
  width: 100%;
  margin: 2%;
  margin-left: 5%;
}
/* -----------logo work-------- */
.logo {
  display: flex;
  flex-direction: row;
  width: 8%;
  height: 10%;
}
.logo > * {
  height: 55%;
  width: 100%;
}
.armimoLogoText {
  height: 20%;
  margin-top: 25%;
}
/* -----The central region------ */
.center {
  margin-left: 25%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
}
/* -------The big login text---- */
.loginText {
  flex: 1.5;
  display: flex;
  align-items: center;
  gap: 6%;
}
.loginText > * {
  font-size: 450%;
  font-style: Regular;
  font-family: Marcellus SC;
}
.loginText1 {
  color: rgba(0, 0, 0, 1);
}
.loginText2 {
  color: rgba(245, 177, 60, 1);
}
/* ------The whole text box area---- */
.textBox {
  flex:3;
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap:10%;
}
/* ----------email section------------ */
.email {
  flex: 0.7;
  display: flex;
  flex-direction: row;
}
.email:hover {
  box-shadow: 0 0 10px black;
}
.email > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.emailInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 200%;
  font-weight: 700;
}
/* -the div for the email icon--- */
.emailIconWhole {
  padding-top: 4%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.emailIconWhole > * {
  font-size: 120%;
}
/* ----password div---- */
.password {
  display: flex;
  flex-direction: row;
  flex: 0.7;
}
.password:hover {
  box-shadow: 0 0 10px black;
}
.pwdInput {
  padding: 2%;
  padding-left: 5%;
  flex: 1;
  border: none;
  background-color: rgb(216, 211, 211);
}
.pwdInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 200%;
  font-weight: 700;
}
.pwdIconWhole {
  padding-top: 4%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.pwdeyeIconWhole {
  padding-top: 4%;
  /* padding-left: 2%; */
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.pwdIconWhole > * {
  font-size: 120%;
}
.pwdeyeIconWhole > * {
  font-size: 120%;
}
/* ------login button---- */
.button {
  flex: 0.6;
  margin-left: 10%;
  width: 80%;
  border: none;
  color: rgba(253, 204, 121, 1);
  background-color: rgba(1, 65, 0, 1);
  border-radius: 5px;
  font-size: 180%;
  font-family: inter;
}
.button:active {
  box-shadow: 0 0 10px black;
}
/* -----no acc, keep me logged in & forgot pwd links---- */
/* --kep me logged in style-- */
.text1 {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  gap: 3%;
  padding-left: 60%;
  width: 100%;
}
.text1 a {
  text-decoration: none;
  color: rgb(108, 106, 106);
  font-size: x-large;
}
.text1 a:hover {
  text-shadow: 0 0 1px rgb(24, 72, 35);
}
/* --create acc & forgot pwd div style-- */
.text2 {
  flex: 2;
  padding-top: 6%;
  padding-left: 10%;
  width: 80%;
  display: flex;
  gap: 60%;
}
.text2 a {
  flex: 2;
  text-decoration: none;
  color: rgb(108, 106, 106);
  font-size: 150%;
}
.text2 a:hover {
  text-shadow: 0 0 1px black;
}
