html {
  height: 100%;
  width: 100%;
  align-items: center;
}
.settingTxt > * {
    letter-spacing: 0;
    font-size: 400%;
    font-style: Regular;
    font-family: Marcellus SC;
    box-sizing: border-box;
  }
  .settingTxt1 {
    color: rgba(0, 0, 0, 1);
  }
  .settingTxt2 {
    color: rgba(245, 177, 60, 1);
  }
ul {
  background-color: rgb(249, 246, 246);
  width: 50%;
  height: 80%;
  margin-bottom: 8%;
  font-size: 200%;
  display: flex;
  flex-direction: column;
  gap: 6%;
  border: 2px solid rgb(198, 198, 198);
  padding-top: 6%;
  padding-bottom: 7%;
  padding-left: 10%;
}
li {
  font-family: inter;
  list-style-type: none;
  font-size: 80%;
  margin-left: 5%;
}
.sound {
  margin-left: 0;
  font-size: 100%;
}
.sound input {
  margin-left: 4.2%;
}
.brightness {
  margin-left: 0;
  font-size: 100%;
}
.dial {
  width: 50%;
}
.tips {
  margin: 0;
  width: 100%;
  font-size: 100%;
}
li > input {
  margin-left: 3%;
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
}
body {
  margin-top: 5%;
  margin-left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --div that holds the options--- */
.options {
  font-family: inter;
  font-weight: bold;
  width: 70%;
  height: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset {
  height: 10%;
  width: 30%;
  font-size: 80%;
  font-weight: 550;
  margin-left: 25%;
  margin-top: 10%;
  border: 2px solid rgb(186, 184, 184);
  color: rgb(0, 58, 22);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: inter;
}
.reset:hover {
  box-shadow: 0 0 5px black;
}
.home {
  font-size: 200%;
  text-decoration: none;
  color: rgb(14, 71, 22);
  font-family: "Times New Roman", Times, serif;
}
.home:hover {
  text-shadow: 0 0 2px rgb(40, 37, 37);
}
