* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* ------The website content without the logo------ */
.whole {
  height: 100%;
  width: 100%;
  margin: 2%;
  margin-left: 5%;
  box-sizing: border-box;
}
/* -----------logo work-------- */
.logo {
  display: flex;
  flex-direction: row;
  width: 8%;
  height: 10%;
}
.logo > * {
  height: 55%;
  width: 100%;
}
.armimoLogoText {
  height: 20%;
  margin-top: 25%;
}
/* -----The central div------ */
.center {
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  gap: 7%;
}
/* -------The big sign up text---- */
.signupText {
  flex: 0.5;
  display: flex;
  gap: 10%;
  box-sizing: border-box;
}
.signupText > * {
  font-size: 400%;
  font-style: Regular;
  font-family: Marcellus SC;
  box-sizing: border-box;
}
.signupText1 {
  color: rgba(0, 0, 0, 1);
}
.signupText2 {
  color: rgba(245, 177, 60, 1);
}
/* ----The whole text box area-- */
.textBox {
  flex: 5;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  box-sizing: border-box;
}
.textBox > * {
  box-sizing: border-box;
}
/* ----email div that has the input & logo div---- */
.email {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.email:hover {
  box-shadow: 0 0 10px black;
}
.email > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.emailInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* --email icon div--- */
.emailIconWhole {
  padding-top: 3%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.emailIconWhole > * {
  font-size: 120%;
}
/* ---pwd div--- */
.password {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}
.password:hover {
  box-shadow: 0 0 10px black;
}
.password > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.pwdInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.pwdIconWhole {
  padding-top: 3%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.pwdIconWhole > * {
  font-size: 110%;
}
/* ---confirm pwd div---- */
.confirmPwd {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}
.confirmPwd:hover {
  box-shadow: 0 0 10px black;
}
.confirmPwd > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.cpwdInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.cpwdIconWhole {
  padding-top: 3%;
  padding-left: 2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.cpwdIconWhole > * {
  font-size: 110%;
}
.pwdIconeye {
  padding-top: 3%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.eye.one {
  font-size: 110%;
}
.cpwdIconeye {
  padding-top: 3%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.eye.two {
  padding: 0;
  font-size: 110%;
}
/* ----Firstname text box---- */
.fnameInput {
  flex: 0.5;
  padding-left: 12%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.fnameInput:hover {
  box-shadow: 0 0 10px black;
}
.fnameInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* -lastname text box- */
.lnameInput {
  flex: 0.5;
  padding-left: 12%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.lnameInput:hover {
  box-shadow: 0 0 10px black;
}
.lnameInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* -singn up button--- */
.button {
  flex: 0.5;
  margin-left: 20%;
  margin-top: 5%;
  width: 60%;
  border: none;
  color: rgba(253, 204, 121, 1);
  background-color: rgba(1, 65, 0, 1);
  border-radius: 5px;
  font-size: 160%;
  font-family: inter;
}
.button:active {
  box-shadow: 0 0 10px black;
}
/* ---date div that has the date of birth label & date input-- */
.date {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 30%;
}
.date > * {
  flex: 1;
  font-size: 120%;
  font-weight: 500;
  font-family: inter;
  color: rgb(125, 124, 124);
}
/* ---date input style--- */
.datePicker {
  padding-left: 2%;
  color: rgb(120, 116, 116);
  border: solid 1px rgb(158, 158, 158);
}
.datePicker:hover {
  text-shadow: 0 0 10px black;
}
/* --already have an acount link style-- */
.haveAcc {
  flex: 1;
  padding-left: 33%;
  text-decoration: underline;
  color: rgb(92, 91, 91);
  font-size: 120%;
}
.haveAcc:hover {
  text-shadow: 0 0 1px black;
}
/* --semd rexommendation link style--- */
.recom {
  flex: 1;
  display: flex;
  gap: 2%;
}
.recom a {
  text-decoration: none;
  color: rgb(92, 91, 91);
  font-size: 150%;
}
.fa-bell:hover {
  text-shadow: 0 0 10px rgb(5, 126, 11);
}
.fa-bell {
  font-size: 150%;
}
