.containerInsight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}

.box1 {
  /* Additional styling for box1 if needed */
  display: flex;
  align-items: flex-start;
  width: auto;
  /* background-color: green; */
}

.box2 {
  /* Additional styling for box2 if needed */
}
