@keyframes shadowPulse {
    0% {
      box-shadow: 0 0 10px rgba(0, 0, 255, 0);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 0.384);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0);
    }
  }
  
  .mastered-stage-row {
    animation: shadowPulse 10s infinite;
  }
  