/* General styles for larger screens */
.session-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 2rem; /* Add some padding */
  gap: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 80%;
  gap: 20px; /* Add space between cards */
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 70px;
}

.stage-card-container {
  width: 100%;
  max-width: 840px;
  margin-top: 20px;
}

.stage-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin: 20px;
}

.stage-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 10px); /* Two cards per row */
}

.section-title {
  font-size: 1.25rem; /* text-lg */
  font-weight: 600; /* font-light */
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 80%) {
  .session-details-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .card-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center;
  }

  .cards-container {
    width: 100%; /* Make sure cards take full width */
  }

  .stage-card-container {
    width: 100%; /* Ensure container takes full width */
    margin-top: 10px;
  }

  .stage-cards {
    justify-content: center; /* Center the stage cards */
    gap: 10px; /* Adjust gap */
    margin: 10px; /* Adjust margin */
  }

  .stage-card {
    width: 100%; /* Ensure stage cards take full width */
  }

  .section-title {
    font-size: 1.25rem; /* text-lg */
    font-weight: 600; /* font-light */
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }
}
