html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: o;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 2%;
}
/* --div that holds the options--- */
.settingTxt > * {
  flex: 1;
  font-size: 200%;
  font-style: Regular;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}
.settingTxt2 {
  color: rgba(0, 128, 0, 0.454);
}
ul {
  flex: 4;
  background-color: rgba(160, 164, 161, 0.24);
  border-radius: 10px;
  width: 40%;
  font-weight: 500;
  font-size: 190%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10%;
  border: none;
  padding: 8vmin;
}
li {
  list-style-type: none;
}
li label {
  font-size: 5vmin;
  font-weight: 550;
}
.reset {
  padding: 0;
  margin: 0;
  flex: 0.5;
  width: 30vw;
  border: none;
  border-radius: 2vh;
  color: rgb(2, 1, 0);
  font-weight: 550;
  font-size: 3vmin;
  background-color: rgba(8, 72, 3, 0.263);
  transition: background-color 0.5s ease;
  margin-bottom: 5vmin;
}
.reset:hover {
  background-color: rgba(2, 67, 24, 0.386);
}

/* Styles specific to the dark theme */
.dark-theme {
  background-color: #222;
  color: #fff;
}

.dark-theme .settingTxt {
  color: #fff;
}

.dark-theme .checkbox li label {
  color: #fff;
}
.dark-theme html {
  background-color: #222;
}

.dark-theme .settingTxt1 {
  color: #fff;
}

.dark-theme .settingTxt2 {
  color: #94ecb4;
}

.dark-theme ul {
  background-color: #383535;
  border-color: #666;
}

.dark-theme li label {
  color: #fff;
}

.dark-theme .sound {
  color: #fff;
}

.dark-theme .brightness {
  color: #fff;
}

.dark-theme .dial {
  background-color: #333;
}

.dark-theme .tips {
  color: #fff;
}
.dark-theme .reset {
  background-color: #6d6b6b;
  transition: background-color 0.5s ease;
  color: white;
}
.dark-theme .reset:hover {
  background-color: rgba(138, 168, 148, 0.386);
}
