
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 238.7rem;
}.sound-control-h7H {
  padding: 39.6rem 49.9rem 51.5rem 63rem;
  width: 100%;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .nature-sounds-29Z {
    padding: 4rem 21.7rem 6.7rem 15.7rem;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 11.9rem;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    display: flex;

    .nature-sounds-9V5 {
      margin: 0rem 47.2rem 4.9rem 0rem;
      text-align: center;
      font-size: 6rem;
      font-family: Mako, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.375;
      color: #000000;
    }
    .auto-group-7abm-ewd {
      width: 100%;
      height: 4.4rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-7-brs {
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 80.8rem;
        top: 0;
        object-fit: contain;
      }
      .ellipse-6-LpT {
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 68rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-5-gtK {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 55.2rem;
      }
      .level-4-dYf {
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 42.4rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .level-3-mes {
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 29.6rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .level-2-KAb {
        left: 16.8rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
      }
      .ellipse-1-4dy {
        position: absolute;
        left: 4rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
      }
      .line-1-1JK {
        top: 2.15rem;
        object-fit: contain;
        vertical-align: top;
        width: 88.4rem;
        height: 0;
        position: absolute;
        left: 0;
      }
    }
  }
  .narration-vgB {
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 21.7rem 6.7rem 15.3rem;
    width: 100%;
    display: flex;

    .narration-TAK {
      font-weight: 400;
      line-height: 1.375;
      font-size: 6rem;
      color: #000000;
      font-family: Mako, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 4.9rem;
      width: 100%;
      text-align: center;
    }
    .auto-group-p7uo-mwh {
      width: 88.4rem;
      height: 4.4rem;
      position: relative;
      flex-shrink: 0;
      margin-left: 0.4rem;

      .ellipse-7-RmM {
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 80.8rem;
        top: 0;
        object-fit: contain;
      }
      .ellipse-6-Muu {
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 68rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-5-VmD {
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 55.2rem;
        top: 0;
      }
      .level-4-3Xq {
        position: absolute;
        left: 42.4rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
      }
      .level-3-zCB {
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 29.6rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .level-2-jfZ {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 16.8rem;
      }
      .ellipse-1-tHZ {
        vertical-align: top;
        width: 3.8rem;
        height: 4.4rem;
        position: absolute;
        left: 4rem;
        top: 0;
        object-fit: contain;
      }
      .line-1-dF9 {
        vertical-align: top;
        width: 88.4rem;
        height: 0;
        position: absolute;
        left: 0;
        top: 2.15rem;
        object-fit: contain;
      }
    }
  }
}
