* {
  /* font-family: Linden Hill; */
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/* ------The website content withoutn the logo------ */
.whole {
  height: 100%;
  width: 100%;
  margin: 5%;
  margin-left: 5%;
  box-sizing: border-box;
}
/* -----------logo work-------- */
.logo {
  display: flex;
  flex-direction: row;
  width: 8%;
  height: 10%;
}
.logo > * {
  height: 55%;
  width: 100%;
}
.armimoLogoText {
  height: 20%;
  margin-top: 25%;
}
/* -----The central region------ */
.center {
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
  box-sizing: border-box;
}
/* -------The big login text---- */
.signupText {
  flex: 0.3;
  display: flex;
  gap: 10%;
  box-sizing: border-box;
}
.signupText > * {
  font-size: 400%;
  font-style: Regular;
  font-family: Marcellus SC;
  box-sizing: border-box;
}
.signupText1 {
  color: rgba(0, 0, 0, 1);
}
.signupText2 {
  color: rgba(245, 177, 60, 1);
}
/* ------The whole text box area */
.textBox {
  flex: 2;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  box-sizing: border-box;
}
.textBox > * {
  box-sizing: border-box;
}
.email {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.email:hover {
  box-shadow: 0 0 10px black;
}
.email > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.emailInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.emailIconWhole {
  padding-top: 4%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.emailIconWhole > * {
  font-size: 120%;
}
/* ---pwd text box--- */
.password {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.password:hover {
  box-shadow: 0 0 10px black;
}
.password > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.pwdInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.pwdIconWhole {
  padding-top: 4%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.pwdIconWhole > * {
  font-size: 120%;
}
/* ---confirm pwd text box---- */
.confirmPwd {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.confirmPwd:hover {
  box-shadow: 0 0 10px black;
}
.confirmPwd > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.cpwdInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.cpwdIconWhole {
  padding-top: 4%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.cpwdIconWhole > * {
  font-size:120%;
}
/* ----Firstname text box---- */
.fnameInput {
  flex: 0.2;
  padding: 5%;
  padding-left: 12%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.fnameInput:hover {
  box-shadow: 0 0 10px black;
}
.fnameInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* -lastname text box- */
.lnameInput {
  flex: 0.2;
  padding: 5%;
  padding-left: 12%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.lnameInput:hover {
  box-shadow: 0 0 10px black;
}
.lnameInput::placeholder {
  color: rgba(4, 54, 2, 0.48);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.button {
  flex: 0.8;
  margin-left: 10%;
  width: 80%;
  border: none;
  color: rgba(253, 204, 121, 1);
  background-color: rgba(1, 65, 0, 1);
  border-radius: 5px;
  font-size: 180%;
  font-family: inter;
}
.button:active {
  box-shadow: 0 0 10px black;
}
.date {
  flex: 1.1;
  display: flex;
  flex-direction: column;
}
.date > * {
  flex: 1;
  font-size: 125%;
  font-weight: 600;
  font-family: inter;
  color: rgb(75, 74, 74);
}
.datePicker {
  color: rgb(57, 55, 55);
  border-radius: 15%;
  border: solid 1px rgb(158, 158, 158);
}
.datePicker:hover {
  text-shadow: 0 0 10px black;
}
.haveAcc {
  flex: 1;
  padding-left: 35%;
  text-decoration: underline;
  color: rgb(92, 91, 91);
  font-size: 120%;
}
.haveAcc:hover {
  text-shadow: 0 0 1px black;
}
.recom {
  flex: 1;
  display: flex;
  gap: 4%;
}
.recom a {
  text-decoration: none;
  color: rgb(92, 91, 91);
  font-size: 150%;
}
.recom a:hover {
  text-shadow: 0 0 1px black;
}
.fa-bell{
  font-size: 150%;
}