* {
  font-family: inter;
}
html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vmax;
  display: flex;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
form {
  flex: 2;
  width: 100vw;
  padding: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vmin;
}
.logo {
  align-self: flex-start;
  padding: 1vmin;
  display: flex;
  flex: 0.6;
  width: 20vmin;
  height: 90vmin;
  overflow: hidden;
  gap: 0.3vmin;
}
.logo > * {
  width: 10vmin;
  height: 10vmin;
}
.armimoLogoText {
  padding-top: 3vmin;
  height: 6vmin;
}
header {
  flex: 0.6;
  font-size: 8vmin;
  font-weight: bold;
  color: black;
}
.yellow {
  color: rgba(8, 72, 3, 0.447);
  border-radius: 100px;
  animation: changeColor 7s infinite;
}
input {
  flex: 0.4;
  width: 60vmin;
  height: 5vh;
  padding-left: 2vmin;
  border-radius: 1vmin;
  border: 1px solid rgba(128, 128, 128, 0.578);
  outline: none;
  font-size: 3vmin;
  font-weight: 500;
}
input:hover {
  box-shadow: 0 0 3px grey;
}
::placeholder {
  font-weight: bold;
  font-size: 3vmin;
  font-family: inter;
}
#error-message {
  padding: 0;
  margin: 0;
}
a {
  flex: 0.2;
  text-decoration: none;
  color: black;
  font-size: 2.4vmin;
  font-family: inter;
  animation: changeColor 2s ease infinite;
}
a:hover {
  text-shadow: 0 0 2px rgb(0, 0, 0);
  color: black;
  animation: none;
}
button {
  flex: 0.2;
  width: 30vmin;
  border: none;
  border-radius: 1vw;
  transition: background-color 0.5s ease;
  padding: 1vmin;
  font-size: 3.2vmin;
  font-family: inter;
  background-color: rgba(8, 72, 3, 0.263);
}
button:hover {
  background-color: rgba(8, 72, 3, 0.516);
}
@keyframes changeColor {
  0%,
  100% {
    color: rgba(8, 72, 3, 0.402);
  }
  30% {
    color: rgba(8, 72, 3, 0.441);
  }
  50% {
    color: rgba(8, 72, 3, 0.628);
  }
}
