body {
    margin: 0;
    padding: 0;
    /* font-family: 'Major Mono Display', monospace; */
    font-family: monospace;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (orientation:portrait) {
    
    .inner-container{
        display: none;
    }
    
    .portrait-div{
        font-size: 2vmax;
        text-align: center;
        margin-top: 46vmax;
        padding-left: 2vmax;
        padding-right: 2vmax;
        font-family: 'Major Mono Display', monospace;
    }
    .portrait-div .portrait-icon{
        width: auto;
        height: 3vmax;
    }
}

@media screen and (orientation:landscape) {

    .portrait-div{
        display: none;
    }

    /* Inside the Side Panel */
    .stage {
        grid-area: stage;
        /* background-color: #9ce8b4; */
        border-radius: 2%;
        /* height: 100%; */
    }

    .timer {
        grid-area: timer;
        /* background-color: #9ce8b4; */
        border-radius: 2%;
        /* height: 100%; */
    }

    .settings {
        grid-area: settings;
        /* background-color: #9ce8b4; */
        border-radius: 2%;
        /* height: 100%; */
    }

    .how-to-play {
        grid-area: how-to-play;
        /* background-color: #9ce8b4; */
        border-radius: 2%;
        /* height: 100%; */
    }
    /* ---------------------------------------------------------------------------------------- */


    .side-panel {
        grid-area: side-panel;
        background-color: #D9D9D9;
        /* border-radius: 2%; */
        display: grid;
        grid-template-areas:
            'stage'
            'timer'
            'settings'
            'how-to-play';
        grid-template-rows: repeat(4, 1fr);
        gap: 1.3vw;
        /* padding: 1.3vw; */
    }

    .side-panel button {
        width: 4.5vw;
        height: 4.5vw;
        background-color: #D9D9D9;
        border: none;
        border-radius: 0;
        cursor: pointer;
        margin-top: 50%;
        margin-left: 15%;
        transition: transform 0.5s;
    }

    .side-panel button:hover {
        transform: scale(1.2);
    }

    .side-panel button img{
        width: 80%;
        height: 80%;
        opacity: 0.7;  
    }

    .side-panel button p{
        font-family: 'Major Mono Display', monospace;
        font-weight: 500;
        font-size: 3vw;
    }

    /* Additional styling for button content alignment */
    .side-panel button p,
    .side-panel button img {
        display: block;
        margin: auto;
    }

    .main-panel{
        background-color: #EDEBEB;
        height: 100%;
        width: 100%;
        border-radius: var(--default-border-rad);
        overflow: hidden;
    }

    .inner-container {
        margin: 1vw;
        width: 98vw;
        height: 95.9vh;
        background-color: #EDEBEB;
        opacity: 1.0;
        /* border-radius: 2%; */
        position: relative;
        display: grid;
        grid-template-areas: 'side-panel main-panel';
        grid-template-columns: 1fr 14fr;
        gap: 0.5vw;
    }
}