
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.game-page-general-edit-2-q3H {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 2rem;
}
.game-page-general-edit-2-q3H .inner-container-A5Z {
  width: 188rem;
  height: 104rem;
  position: absolute;
  left: 1.9rem;
  top: 1.8rem;
  background-color: rgba(217, 217, 217, 0.3700000048);
  border-radius: 2rem;
}
.game-page-general-edit-2-q3H .corners-skf {
  width: 188rem;
  height: 104.2rem;
  position: absolute;
  left: 2.1rem;
  top: 1.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-sg4b-16B {
  margin-bottom: 58.2rem;
  width: 100%;
  height: 23rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-sg4b-16B .stage-no-jH5 {
  margin-right: 142.1369rem;
  box-sizing: border-box;
  padding: 1.3rem 4.1rem;
  width: 22.8631rem;
  height: 100%;
  text-align: center;
  font-size: 7rem;
  font-weight: 400;
  line-height: 1.375;
  color: #737171;
  font-family: Major Mono Display, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/stage-no-76s.png');
  flex-shrink: 0;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-sg4b-16B .settings-B95 {
  margin: 0.1rem 0rem 0.037rem 0rem;
  box-sizing: border-box;
  padding: 3.148rem 2.422rem 3.148rem 13.622rem;
  height: calc(100% - 0.1369rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/settings-mPq.png');
  flex-shrink: 0;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-sg4b-16B .settings-B95 .solar-settings-outline-sXh {
  margin-bottom: 8.8631rem;
  width: 6.9553rem;
  height: 7.7042rem;
  object-fit: contain;
  vertical-align: top;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-ibs3-msy {
  margin: 0rem 0.437rem 0rem 0.2rem;
  width: calc(100% - 0.6369rem);
  height: 23rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-ibs3-msy .how-to-play-VJB {
  margin-right: 141.5rem;
  box-sizing: border-box;
  padding: 12.56rem 3.876rem 3.123rem 3.876rem;
  width: 23rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/how-to-play-Veb.png');
  flex-shrink: 0;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-ibs3-msy .how-to-play-VJB .ant-design-question-outlined-cdh {
  margin-right: 10.7rem;
  width: 4.5488rem;
  height: 7.1807rem;
  object-fit: contain;
  vertical-align: top;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-ibs3-msy .timer-veP {
  box-sizing: border-box;
  padding: 11.945rem 2.699rem 3.039rem 13.336rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/timer-VQF.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.game-page-general-edit-2-q3H .corners-skf .auto-group-ibs3-msy .timer-veP .vector-sJj {
  width: 6.8281rem;
  height: 8.0156rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2rem;
}
.game-page-general-edit-2-q3H .sensory-stimulus-y6s {
  width: 112.2921rem;
  height: 112.1921rem;
  position: absolute;
  left: 0;
  top: 6.7646rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.game-page-general-edit-2-q3H .mental-objects-HNT {
  width: 138.7023rem;
  height: 109.5536rem;
  position: absolute;
  left: 52.9rem;
  top: 8.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.game-page-general-edit-2-q3H .emotional-icon-oLo {
  width: 10.7788rem;
  height: 13.1375rem;
  position: absolute;
  left: 112.985rem;
  top: 67.3255rem;
  object-fit: contain;
  vertical-align: top;
}
.game-page-general-edit-2-q3H .meditation-object-Xnb {
  width: 31rem;
  height: 31rem;
  position: absolute;
  left: 80.5rem;
  top: 5rem;
  border: solid 2rem rgba(217, 217, 217, 0.400000006);
  box-sizing: border-box;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 15.5rem;
}
.game-page-general-edit-2-q3H .next-NYK {
  width: 4.0833rem;
  height: 15.75rem;
  position: absolute;
  left: 182.7583rem;
  top: 46.175rem;
  object-fit: contain;
  vertical-align: top;
}
.game-page-general-edit-2-q3H .previous-5Sj {
  width: 4.0833rem;
  height: 15.75rem;
  position: absolute;
  left: 4.7583rem;
  top: 46.175rem;
  object-fit: contain;
  vertical-align: top;
}
