*{
    box-sizing: border-box;
    font-size: 3.5vh;
}
body{
    height: 95vh;
    padding: 15vh 10vw 5vh 10vw; 
    /* border: 2px solid black; */
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 5vh;
    background-color: transparent;
}

#preparation-title{
    font-size: 9.5vh;
    /* border: 2px solid black; */
    margin: 0;
}

main{
    /* border: 2px solid black; */
    display: grid;
    gap: 4vh;
}
#preparation-input, #preparation-activity-select, option{
    border: 0;
    outline: 0;
    border-bottom: 2px solid black;
    font-weight: bold;
    transition: transform 0.5s ease;
    background-color: transparent;
    height: 10vh;
    display: none;
}
option{
    font-weight: normal;
}
#preparation-input:hover, #preparation-activity-select:hover{
    transform: scale(1.03);
}
#preparation-error-message{
    font-size: 2vh;
    color: red;
    display: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10vw;
}
.preparation-button{
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
.preparation-button:hover{
    background-color: gray;
}
.preparation-button:active{
    background-color: white;
    transform: scale(0.9);
}