@media screen and (orientation:portrait) {
    
    .timer-inner-container{
        display: none;
    }
    .portrait-div{
        font-size: 2vmax;
        text-align: center;
        margin-top: 46vmax;
        padding-left: 2vmax;
        padding-right: 2vmax;
        font-family: 'Major Mono Display', monospace;
    }
    .portrait-div .portrait-icon{
        width: auto;
        height: 3vmax;
    }
}

@media screen and (orientation:landscape) {
    .portrait-div{
        display: none;
    }

    body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f0f0f0;
        font-family: 'Major Mono Display', monospace;
        /* opacity: 0; */
        transition: opacity 0.5s ease-in-out;
    }

    .timer-inner-container {
        margin: 0.8vmax;
        width: calc(100vw - 1.6vmax); /* Adjusted width to consider margins on both sides */
        height: calc(100vh - 1.6vmax); /* Adjusted height to consider margins on both top and bottom */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EDEBEB;
        border-radius: 20px;
        position: relative;
    }

    .center-container {
        background-color: #e5e5e5;
        border: 2vmax solid rgba(97, 97, 97, 0.1);
        border-radius: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vmax;
        height: 16vmax;
        /* display: block; */
    }

    #timer {
        /* font-family: monospace; */
        font-size: 7vmax;
        margin: 0;
        font-weight: 100;
        color: #646464;
        user-select: none;
    }

    .triangle-button {
        /* position: fixed;
        bottom: 20px;
        right: 20px; */
        right: 0.2vmax;
        bottom: 0.2vmax;
        position: absolute;
        width: 8vmax;
        height: 10vmax;
        background-color: #e5e5e5;
        /* border: 1vmax solid rgba(128, 128, 128, 0.2); */
        border: none;
        border-bottom-right-radius: 20px;
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0.4vmax;
        transition-duration: 0.5s;
    }

    .triangle-button:hover {
        transform: scale(1.06);
    }

    .triangle-button:active {
        transform: scale(1.0);
        transition-duration: 0.1s;
    }

    .triangle-button img{
        width: 60%;
        height: 60%;
        opacity: 0.3;
        transition-duration: 0.5s;
        user-select: none;
    }

    .triangle-button:hover img{
        opacity: 0.8;
    }
}