
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.login-BAs {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8rem;
}
.login-BAs .button-v8T {
  width: 43.2rem;
  height: 6.6906rem;
  position: absolute;
  left: 72rem;
  top: 65.2019rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.0911999702;
  letter-spacing: 0.08rem;
  color: #fdcc79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #014100;
  border-radius: 3rem;
}
.login-BAs .log-in-y6j {
  width: 25.6rem;
  height: 11.3rem;
  position: absolute;
  left: 81rem;
  top: 29.1rem;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.25390625;
  color: #000000;
  font-family: Marcellus SC, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.login-BAs .log-in-y6j .log-in-y6j-sub-0 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Marcellus SC, 'Source Sans Pro';
}
.login-BAs .log-in-y6j .log-in-y6j-sub-1 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.255;
  color: #f5b13c;
  font-family: Marcellus SC, 'Source Sans Pro';
}
.login-BAs .log-in-y6j .log-in-y6j-sub-2 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.255;
  color: #000000;
  font-family: Marcellus SC, 'Source Sans Pro';
}
.login-BAs .logo-Hv3 {
  width: 17rem;
  height: 9.3rem;
  position: absolute;
  left: 13.9rem;
  top: 6.1rem;
  display: flex;
  align-items: center;
}
.login-BAs .logo-Hv3 .armimo-logo-2-1-p9H {
  width: 8.5rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-BAs .logo-Hv3 .writing-1-wzb {
  margin-top: 0.1329rem;
  width: 8.5rem;
  height: 2.79rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-BAs .auto-group-xk95-UUj {
  width: 52.1rem;
  height: 5.6rem;
  position: absolute;
  left: 68rem;
  top: 44.5rem;
}
.login-BAs .auto-group-xk95-UUj .email-box-omu {
  width: 52.1rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.login-BAs .auto-group-xk95-UUj .email-or-meditator-name-YjV {
  width: 28.5rem;
  height: 4.2rem;
  position: absolute;
  left: 4.7rem;
  top: 1.4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #9a9191;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.login-BAs .auto-group-xk95-UUj .email-or-meditator-name-YjV .email-or-meditator-name-YjV-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: rgba(2, 66, 0, 0.4799999893);
  font-family: Linden Hill, 'Source Sans Pro';
}
.login-BAs .auto-group-xk95-UUj .email-or-meditator-name-YjV .email-or-meditator-name-YjV-sub-1 {
}
.login-BAs .email-icon-5N3 {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 69rem;
  top: 45.8rem;
  object-fit: contain;
  vertical-align: top;
}
.login-BAs .auto-group-y3as-PtX {
  box-sizing: border-box;
  padding: 0.7rem 1.65rem 0.6rem 1rem;
  width: 52.1rem;
  height: 5.5rem;
  position: absolute;
  left: 68rem;
  top: 54rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.login-BAs .auto-group-y3as-PtX .password-icon--soh {
  margin: 0rem 1.75rem 0.8rem 0rem;
  opacity: 0.8;
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-BAs .auto-group-y3as-PtX .password-n9y {
  margin-right: 31.9rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: rgba(2, 66, 0, 0.4799999893);
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-BAs .auto-group-y3as-PtX .eye-6RZ {
  margin-bottom: 0.1rem;
  width: 2.1rem;
  height: 1.35rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-BAs .auto-group-qzjk-Ryd {
  width: 70.55rem;
  height: 4.2rem;
  position: absolute;
  left: 60.5rem;
  top: 82.4rem;
  display: flex;
  align-items: center;
}
.login-BAs .auto-group-qzjk-Ryd .create-an-account-mGo {
  margin-right: 31.45rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-BAs .auto-group-qzjk-Ryd .forgot-password-guZ {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-BAs .keep-me-logged-in-2Td {
  width: 12.1rem;
  height: 2.8rem;
  position: absolute;
  left: 102.45rem;
  top: 75.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.1rem;
  color: rgba(2, 66, 0, 0.5600000024);
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
}
.login-BAs .done-vJ7 {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 116rem;
  top: 75.7rem;
  object-fit: contain;
  vertical-align: top;
}
