
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.sign-in-hZ5 {
  width: 100%;
  height: 136.6rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8rem;
}
.sign-in-hZ5 .logo-EJ7 {
  width: 17rem;
  height: 9.3rem;
  position: absolute;
  left: 13.9rem;
  top: 6.1rem;
  display: flex;
  align-items: center;
}
.sign-in-hZ5 .logo-EJ7 .armimo-logo-2-1-xzo {
  width: 8.5rem;
  height: 9.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .logo-EJ7 .writing-1-u9M {
  margin-top: 0.1329rem;
  width: 8.5rem;
  height: 2.79rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .sign-up-dLF {
  width: 30.3rem;
  height: 12.4rem;
  position: absolute;
  left: 80rem;
  top: 19.6rem;
  text-align: center;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Marcellus SC, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.sign-in-hZ5 .sign-up-dLF .sign-up-dLF-sub-0 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #043d03;
  font-family: Marcellus SC, 'Source Sans Pro';
}
.sign-in-hZ5 .sign-up-dLF .sign-up-dLF-sub-1 {
}
.sign-in-hZ5 .sign-up-dLF .sign-up-dLF-sub-2 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #f5b13c;
  font-family: Marcellus SC, 'Source Sans Pro';
}
.sign-in-hZ5 .sign-up-dLF .sign-up-dLF-sub-3 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #1e1e1e;
  font-family: Marcellus SC, 'Source Sans Pro';
}
.sign-in-hZ5 .auto-group-xxns-KF1 {
  box-sizing: border-box;
  padding: 1.2rem 1.75rem 0.1rem 1.75rem;
  width: 52.1rem;
  height: 5.5rem;
  position: absolute;
  left: 70rem;
  top: 37.3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #9a9191;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #d9d9d9;
}
.sign-in-hZ5 .auto-group-xxns-KF1 .auto-group-xxns-KF1-sub-0 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: rgba(2, 66, 0, 0.4799999893);
  font-family: Linden Hill, 'Source Sans Pro';
}
.sign-in-hZ5 .auto-group-xxns-KF1 .auto-group-xxns-KF1-sub-1 {
}
.sign-in-hZ5 .auto-group-mrkm-Qvf {
  box-sizing: border-box;
  padding: 1rem 2rem 0.4rem 2rem;
  width: 52.1rem;
  height: 5.6rem;
  position: absolute;
  left: 70rem;
  top: 45.9rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
}
.sign-in-hZ5 .auto-group-3nd1-sJT {
  box-sizing: border-box;
  padding: 1.2rem 2rem 0.3rem 2rem;
  width: 52.1rem;
  height: 5.7rem;
  position: absolute;
  left: 70rem;
  top: 54.6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
}
.sign-in-hZ5 .auto-group-xhqm-uW3 {
  box-sizing: border-box;
  padding: 1.8rem 2.65rem 0rem 2rem;
  width: 52.1rem;
  height: 6rem;
  position: absolute;
  left: 70rem;
  top: 63.2rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.sign-in-hZ5 .auto-group-xhqm-uW3 .password-icon-1-zXV {
  margin: 0rem 1rem 0.4rem 0rem;
  opacity: 0.8;
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-xhqm-uW3 .password-hgo {
  margin-right: 31.15rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: rgba(2, 66, 0, 0.4799999893);
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-xhqm-uW3 .eye-1-Rco {
  margin-bottom: 1.5rem;
  width: 2.1rem;
  height: 1.35rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-whz5-9oh {
  box-sizing: border-box;
  padding: 1.6rem 2.85rem 0.2rem 2rem;
  width: 52.1rem;
  height: 6rem;
  position: absolute;
  left: 70rem;
  top: 81.1rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.sign-in-hZ5 .auto-group-whz5-9oh .date-of-birth-eEf {
  margin-right: 31.25rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-whz5-9oh .expanddown-yGw {
  margin-bottom: 1.8rem;
  width: 1.5rem;
  height: 0.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-fhco-J4K {
  width: 43.2rem;
  height: 7.2rem;
  position: absolute;
  left: 74rem;
  top: 102.9rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.375;
  color: #fdcc79;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #024200;
  border-radius: 9rem;
}
.sign-in-hZ5 .auto-group-zmj9-N4B {
  width: 36.2rem;
  height: 4.2rem;
  position: absolute;
  left: 70rem;
  top: 91.9rem;
  display: flex;
  align-items: center;
}
.sign-in-hZ5 .auto-group-zmj9-N4B .done-h6T {
  margin: 0rem 1.6rem 0.8rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-zmj9-N4B .agree-to-terms-conditions-ovB {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-4pco-7fy {
  box-sizing: border-box;
  padding: 1.8rem 2.65rem 0rem 2rem;
  width: 52.1rem;
  height: 6rem;
  position: absolute;
  left: 70rem;
  top: 72.2rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.sign-in-hZ5 .auto-group-4pco-7fy .password-icon-2-BQw {
  margin: 0rem 1rem 0.4rem 0rem;
  opacity: 0.8;
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-4pco-7fy .confirm-password-Hym {
  margin-right: 21.15rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: rgba(2, 66, 0, 0.4799999893);
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-4pco-7fy .eye-2-1um {
  margin-bottom: 1.5rem;
  width: 2.1rem;
  height: 1.35rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-dfpr-woR {
  width: 30rem;
  height: 4.2rem;
  position: absolute;
  left: 69rem;
  top: 121.2rem;
  display: flex;
  align-items: flex-start;
}
.sign-in-hZ5 .auto-group-dfpr-woR .bellpin-swy {
  margin: 0.2rem 1.3rem 0rem 0rem;
  width: 2.7rem;
  height: 2.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-in-hZ5 .auto-group-dfpr-woR .send-recommendations-Qh1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-in-hZ5 .already-have-an-account-8N7 {
  width: 24.3rem;
  height: 3.5rem;
  position: absolute;
  left: 84.35rem;
  top: 113.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0.075rem;
  text-decoration-line: underline;
  color: #000000;
  font-family: Linden Hill, 'Source Sans Pro';
  white-space: nowrap;
}
