
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.tv-1-2Z1 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.tv-1-2Z1 .auto-group-ierp-xxT {
  width: 40.6rem;
  height: 1.9rem;
  position: absolute;
  left: 75.7rem;
  top: 78.4rem;
  display: flex;
  align-items: center;
}
.tv-1-2Z1 .auto-group-ierp-xxT .create-account-HE3 {
  margin-right: 17rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-ierp-xxT .forgot-password-z8T {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-button-vXu {
  width: 16.6rem;
  height: 5.2rem;
  position: absolute;
  left: 87.5rem;
  top: 54rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 3rem;
}
.tv-1-2Z1 .auto-group-wstb-na7 {
  width: 36.7rem;
  height: 11.7rem;
  position: absolute;
  left: 77.4rem;
  top: 39.4rem;
}
.tv-1-2Z1 .auto-group-wstb-na7 .password-vAX {
  box-sizing: border-box;
  padding: 1.1rem 24.3rem 1.2rem 1.5rem;
  width: 36.7rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 7.2rem;
  display: flex;
  align-items: center;
  background-color: rgba(176, 176, 176, 0.8000000119);
  border-radius: 0.5rem;
}
.tv-1-2Z1 .auto-group-wstb-na7 .password-vAX .password-icon-1-Ppo {
  margin-right: 1rem;
  opacity: 0.8;
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .password-vAX .password-W8j {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Josefin Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H {
  width: 36.7rem;
  height: 11.7rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H .auto-group-zfdm-QNX {
  margin-bottom: 7.1rem;
  box-sizing: border-box;
  padding: 1.2rem 0.4rem 0rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(176, 176, 176, 0.8000000119);
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H .auto-group-zfdm-QNX .auto-group-wnzp-ie7 {
  margin: 0rem 27.1rem 1.2rem 1rem;
  width: calc(100% - 28.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H .auto-group-zfdm-QNX .auto-group-wnzp-ie7 .email-icon-2-1-eGs {
  margin: 0.1rem 1rem 0rem 0rem;
  opacity: 0.8;
  width: 2rem;
  height: 1.425rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H .auto-group-zfdm-QNX .auto-group-wnzp-ie7 .email-MBH {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Josefin Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H .auto-group-zfdm-QNX .rectangle-5-muD {
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.tv-1-2Z1 .auto-group-wstb-na7 .email-t9H .rectangle-6-HsZ {
  margin: 0rem 0.4rem 0rem 0.5rem;
  width: calc(100% - 0.9rem);
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-1Hm {
  width: 13.4rem;
  height: 7.1rem;
  position: absolute;
  left: 89rem;
  top: 27.7rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: Londrina Solid, 'Source Sans Pro';
  white-space: nowrap;
}
.tv-1-2Z1 .log-in-background-3-1-iCB {
  width: 5.4548rem;
  height: 1.3333rem;
  position: absolute;
  left: 48.3452rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.tv-1-2Z1 .heading-r3V {
  width: 14rem;
  height: 7rem;
  position: absolute;
  left: 15.9rem;
  top: 3.1rem;
  display: flex;
  align-items: center;
}
.tv-1-2Z1 .heading-r3V .armimo-logo-2-1-aEP {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-1-2Z1 .heading-r3V .writing-1-Jw5 {
  margin-top: 0.1rem;
  width: 7rem;
  height: 2.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-background-3-1-3dm {
  box-sizing: border-box;
  padding: 2rem;
  width: 260rem;
  height: 294rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.tv-1-2Z1 .log-in-background-3-1-3dm .property-1default-y1d {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 6.667rem 44.3rem 8rem 26.545rem;
  width: 100%;
  height: 144rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-background-3-1-3dm .property-1default-y1d .group-e7m {
  margin: 0rem 179.7rem 118rem 0rem;
  width: 5.4548rem;
  height: 1.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-background-3-1-3dm .property-1default-y1d .frame-1-Kzb {
  margin-left: 175.1548rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-background-3-1-3dm .property-1variant2-4SP {
  box-sizing: border-box;
  padding: 6.667rem 44.3rem 8rem 26.545rem;
  width: 100%;
  height: 144rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-background-3-1-3dm .property-1variant2-4SP .group-k4K {
  margin: 0rem 179.7rem 118rem 0rem;
  width: 5.4548rem;
  height: 1.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tv-1-2Z1 .log-in-background-3-1-3dm .property-1variant2-4SP .frame-1-GYT {
  margin-left: 175.1548rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
