html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vmax;
  display: flex;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
form {
  flex: 6.5;
  width: 100%;
  padding: 3vmin;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3vmin;
}
.logo {
  align-self: start;
  padding: 1vmin;
  display: flex;
  flex: 0.7;
  width: 20vmin;
  height: 90vmin;
  overflow: hidden;
  gap: 0.3vmin;
}
.logo > * {
  width: 10vmin;
  height: 10vmin;
}
.armimoLogoText {
  padding-top: 3vmin;
  height: 6vmin;
}
header {
  flex: 0.2;
  font-size: 6.5vmin;
  font-weight: bold;
  color: black;
  margin-bottom: 3vmin;
}
.yellow {
  color: rgba(8, 72, 3, 0.447);
  border-radius: 100px;
  animation: changeColor 7s infinite;
}
input {
  flex: 0.7;
  width: 50vmin;
  height: 2vh;
  padding-left: 2vmin;
  border-radius: 1vmin;
  border: 1px solid rgba(128, 128, 128, 0.578);
  outline: none;
  font-size: 2.5vmin;
  font-weight: 500;
}
input:hover {
  box-shadow: 0 0 3px grey;
}
::placeholder {
  font-weight: bold;
  font-size: 2.5vmin;
}
#datePicker {
  font-size: 2.5vmin;
  color: grey;
  font-weight: bold;
}
.radio {
  width: 47vmin;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.619);
}
#radDiv1 {
  flex: 1;
  width: 45vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#radDiv1 label {
  flex: 1;
  font-size: 2.2vmin;
  font-weight: bold;
}
#rad1 {
  flex: 0.1;
  width: 1vmin;
  margin: 0;
  padding: 0;
}
#radDiv2 {
  flex: 1;
  width: 45vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#radDiv2 label {
  flex: 1;
  font-size: 2.2vmin;
  font-weight: bold;
}
#rad2 {
  flex: 0.113;
  width: 1vmin;
  margin: 0;
  padding: 0;
}
input[type="radio"]:checked {
  color: rgb(1, 49, 1);
}
#dropDownMenu {
  height: 30vmin;
  width: 55vmin;
  background-color: rgb(220, 220, 220);
  border-radius: 40px;
  padding: 2vmin;
  padding-top: 6vmin;
  padding-bottom: 5vmin;
  position: absolute;
  top: 280px;
  right: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 450;
  overflow: hidden;
}

#text {
  display: flex;
  flex-direction: column;
  gap: 4vmin;
  width: 95%;
  align-items: center;
}
#dDM {
  align-self: center;
  width: 85%;
  height: 6vmin;
  font-weight: 550;
  padding-left: 3vmin;
  font-size: 2.5vmin;
  border: none;
  border-radius: 15px;
  background-color: rgba(252, 252, 252, 0.845);
}
#dropDownMenu label {
  width: 100%;
  font-size: 2.6vmin;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#dropDownMenu option {
  font-size: 2.6vmin;
  color: rgb(0, 0, 0);
}
#dropDownMenu button {
  margin-top: 10vmin;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.781);
}
#dropDownMenu button:hover {
  background-color: rgba(2, 79, 15, 0.235);
}
#error-message {
  margin: 0;
}
a {
  flex: 0.2;
  text-decoration: none;
  color: black;
  font-size: 2vmin;
  animation: changeColor 2s ease infinite;
}
a:hover {
  text-shadow: 0 0 2px rgb(0, 0, 0);
  color: black;
  animation: none;
}
button {
  flex: 0.1;
  width: 35vmin;
  border: none;
  border-radius: 1vw;
  transition: background-color 0.5s ease;
  padding: 1vmin;
  font-size: 3vmin;
  font-weight: 550;
  background-color: rgba(8, 72, 3, 0.263);
  /* margin-bottom: 2vmin; */
}
button:hover {
  background-color: rgba(8, 72, 3, 0.516);
}
@keyframes changeColor {
  0%,
  100% {
    color: rgba(8, 72, 3, 0.402);
  }
  30% {
    color: rgba(8, 72, 3, 0.441);
  }
  50% {
    color: rgba(8, 72, 3, 0.628);
  }
}
