* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
form {
  padding-left: 5%;
  padding-top: 5%;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* -----------logo work-------- */
.logo {
  display: flex;
  flex-direction: row;
  width: 8%;
  height: 10%;
}
.logo > * {
  height: 55%;
  width: 100%;
}
.armimoLogoText {
  height: 20%;
  margin-top: 25%;
}
/* -----The central div------ */
.main {
  align-items: main;
  margin-left: 35%;
  margin-top: 5%;
  display: flex;
  align-items: main;
  flex-direction: column;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  gap: 7%;
}
#error-message {
  margin: 0;
  padding: 0;
}
/* -------The big sign up text---- */
.header {
  flex: 0.3;
  display: flex;
  gap: 2%;
  box-sizing: border-box;
  padding-left: 17%;
}
.header > * {
  font-size: 450%;
  font-style: Regular;
  font-family: Marcellus SC;
  box-sizing: border-box;
}
.header1 {
  color: rgba(0, 0, 0, 1);
}
.header2 {
  color: rgba(245, 177, 60, 1);
}

/* ----The whole text box area-- */
.section {
  flex: 5;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  box-sizing: border-box;
}
.section > * {
  box-sizing: border-box;
}
/* ----email div that has the input & logo div---- */
.email {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.email:hover {
  box-shadow: 0 0 10px black;
}
.email > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.emailInput::placeholder {
  color: rgba(4, 54, 2, 0.918);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* --email icon div--- */
.emailIconWhole {
  padding-top: 3%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.emailIconWhole > * {
  font-size: 120%;
}
/* ---pwd div--- */
.password {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}
.password:hover {
  box-shadow: 0 0 10px black;
}
.password > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.pwdInput::placeholder {
  color: rgba(4, 54, 2, 0.918);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.pwdIconWhole {
  padding-top: 3%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.pwdIconWhole > * {
  font-size: 110%;
}
/* ---confirm pwd div---- */
.confirmPwd {
  flex: 0.5;
  display: flex;
  flex-direction: row;
}
.confirmPwd:hover {
  box-shadow: 0 0 10px black;
}
.confirmPwd > input {
  flex: 1;
  padding: 2%;
  padding-left: 5%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(216, 211, 211);
}
.cpwdInput::placeholder {
  color: rgba(4, 54, 2, 0.918);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
.cpwdIconWhole {
  padding-top: 3%;
  padding-left: 2.2%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.cpwdIconWhole > * {
  font-size: 110%;
}
.pwdIconeye {
  padding-left: 0;
  padding-top: 3%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.eye.one {
  padding: 0;
  font-size: 110%;
}
.cpwdIconeye {
  padding-left: 2%;

  padding-top: 3%;
  height: 100%;
  width: 8%;
  background-color: rgb(216, 211, 211);
}
.eye.two {
  padding: 0;
  font-size: 110%;
}
/* ----Firstname text box---- */
.fnameInput {
  flex: 0.5;
  padding-left: 13%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.fnameInput:hover {
  box-shadow: 0 0 10px black;
}
.fnameInput::placeholder {
  color: rgba(4, 54, 2, 0.918);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* -lastname text box- */
.lnameInput {
  flex: 0.5;
  padding-left: 13%;
  border: none;
  background-color: rgb(216, 211, 211);
}
.lnameInput:hover {
  box-shadow: 0 0 10px black;
}
.lnameInput::placeholder {
  color: rgba(4, 54, 2, 0.918);
  font-family: inter;
  font-size: 150%;
  font-weight: 700;
}
/* -singn up button--- */
.button {
  flex: 0.5;
  margin-left: 20%;
  margin-top: 5%;
  width: 60%;
  border: none;
  color: rgba(253, 204, 121, 1);
  background-color: rgba(1, 65, 0, 1);
  border-radius: 5px;
  font-size: 160%;
  font-family: inter;
}
.button:active {
  box-shadow: 0 0 10px black;
}
/* ---date div that has the date of birth label & date input-- */
.date {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 0;
}
.date > * {
  flex: 1;
  font-size: 120%;
  font-weight: 500;
  font-family: inter;
  color: rgb(125, 124, 124);
}
/* ---date input style--- */
.datePicker {
  padding-left: 2%;
  color: rgb(120, 116, 116);
  border: solid 1px rgb(158, 158, 158);
}
.datePicker:hover {
  text-shadow: 0 0 10px black;
}
/* --already have an acount link style-- */
.footer {
  flex: 0.5;
  padding-left: 33%;
  text-decoration: underline;
  color: rgb(92, 91, 91);
  font-size: 120%;
}
.footer:hover {
  text-shadow: 0 0 1px black;
}

@media (min-width: 1600px) {
  form {
    margin: 0;
    padding-top: 20px;
    padding-left: 40px;
  }
  .logo {
    width: 120px;
    height: 10%;
  }
  .main {
    margin-top: 40px;
    margin-left: 500px;
    padding: 0;
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    gap: 120px;
  }
  .header {
    padding-left: 100px;
    flex: 0.8;
    gap: 20px;
    height: 30px;
  }
  .header > * {
    font-size: 70px;
  }
  .section {
    flex: 2;
    height: 400px;
    width: 500px;
    gap: 30px;
    padding-left: 15px;
  }
  .email {
    flex: 1;
    height: 100px;
    width: 400px;
  }
  .email > input {
    height: 60px;
  }
  .emailInput::placeholder {
    font-size: 20px;
  }
  /* --email icon div--- */
  .emailIconWhole {
    padding-top: 15px;
    height: 60px;
    width: 40px;
  }
  .emailIconWhole > * {
    font-size: 20px;
  }
  /* ----Firstname text box---- */
  .fnameInput {
    flex: 1;
    height: 400px;
    width: 400px;
    padding: 20px;
    padding-left: 60px;
  }
  .fnameInput::placeholder {
    font-size: 20px;
  }
  /* -lastname text box- */
  .lnameInput {
    flex: 1;
    height: 400px;
    width: 400px;
    padding: 20px;
    padding-left: 60px;
  }
  .lnameInput::placeholder {
    font-size: 20px;
  }
  .password {
    flex: 1;
    height: 100px;
    width: 400px;
  }
  .password > input {
    height: 60px;
  }
  .pwdInput::placeholder {
    font-size: 20px;
  }
  .pwdIconWhole {
    padding-top: 15px;
    height: 60px;
    width: 40px;
  }
  .pwdIconWhole > * {
    font-size: 20px;
  }
  .pwdeyeIconWhole {
    padding-top: 15px;
    height: 60px;
    width: 40px;
  }
  .eye.one {
    font-size: 20px;
  }
  .confirmPwd {
    flex: 1;
    height: 100px;
    width: 400px;
  }
  .confirmPwd > input {
    height: 60px;
  }
  .cpwdInput::placeholder {
    font-size: 20px;
  }
  .cpwdIconWhole {
    padding-top: 15px;
    height: 60px;
    width: 40px;
  }
  .cpwdIconWhole > * {
    font-size: 20px;
  }
  .cpwdIconeye {
    padding-top: 15px;
    height: 60px;
    width: 40px;
  }
  .eye.two {
    font-size: 20px;
  }
  .button {
    flex: 0.7;
    margin-left: 90px;
    width: 230px;
    height: 150px;
    font-size: 30px;
    font-family: inter;
  }
  /* ---date div that has the date of birth label & date input-- */
  .date {
    flex: 0.5;
    gap: 15px;
  }
  .date > * {
    flex: 1;
    font-size: 20px;
    width: 400px;
  }
  /* ---date input style--- */
  .datePicker {
    padding-left: 10px;
  }
  /* --already have an acount link style-- */
  .footer {
    flex: 0.2;
    padding-left: 110px;
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  form {
    margin: 0;
    padding-top: 10px;
    padding-left: 12px;
  }
  .logo {
    width: 100px;
    height: 10%;
  }
  .main {
    margin-top: 50px;
    margin-left: 300px;
    padding: 0;
    height: 500px;
    width: 350px;
    box-sizing: border-box;
    gap: 70px;
  }
  #error-message {
    margin: 0;
    padding: 0;
  }
  /* -------The big sign up text---- */
  .header {
    padding-left: 90px;
    flex: 0.5;
    gap: 8px;
    height: 30px;
  }
  .header > * {
    font-size: 50px;
  }
  /* ----The whole text box area-- */
  .section {
    flex: 2;
    height: 500px;
    width: 400px;
    gap: 20px;
    padding-left: 20px;
  }
  /* ----email div that has the input & logo div---- */
  .email {
    flex: 1;
    height: 30px;
    width: 300px;
  }
  .email > input {
    height: 30px;
  }
  .emailInput::placeholder {
    font-size: 15px;
  }
  /* --email icon div--- */
  .emailIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .emailIconWhole > * {
    font-size: 15px;
  }
  /* ---pwd div--- */
  .password {
    flex: 1;
    height: 30px;
    width: 300px;
  }
  .password > input {
    height: 30px;
    width: 20px;
  }
  .pwdInput::placeholder {
    font-size: 15px;
  }
  .pwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 30px;
  }
  .pwdIconWhole > * {
    font-size: 15px;
  }
  /* ---confirm pwd div---- */
  .confirmPwd {
    flex: 1;
    height: 30px;
    width: 300px;
  }
  .confirmPwd > input {
    height: 30px;
  }
  .cpwdInput::placeholder {
    font-size: 15px;
  }
  .cpwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .cpwdIconWhole > * {
    font-size: 15px;
  }
  .pwdIconeye {
    margin: 0;
    padding-left: 0;
    padding-top: 5px;
    height: 30px;
    width: 50px;
  }
  .eye.one {
    font-size: 15px;
  }
  .cpwdIconeye {
    padding-top: 5px;
    height: 30px;
    width: 30px;
  }
  .eye.two {
    font-size: 15px;
  }
  /* ----Firstname text box---- */
  .fnameInput {
    flex: 1;
    height: 30px;
    width: 300px;
    padding: 10px;
    padding-left: 35px;
  }
  .fnameInput::placeholder {
    font-size: 15px;
  }
  /* -lastname text box- */
  .lnameInput {
    flex: 1;
    height: 30px;
    width: 300px;
    padding: 10px;
    padding-left: 35px;
  }
  .lnameInput::placeholder {
    font-size: 15px;
  }
  /* -singn up button--- */
  .button {
    flex: 2;
    margin-left: 70px;
    margin-top: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: inter;
  }
  /* ---date div that has the date of birth label & date input-- */
  .date {
    flex: 0.5;
    gap: 6px;
  }
  .date > * {
    flex: 1;
    font-size: 15px;
    width: 300px;
  }
  /* ---date input style--- */
  .datePicker {
    padding-left: 5px;
  }
  /* --already have an acount link style-- */
  .footer {
    flex: 0.2;
    padding-left: 83px;
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  form {
    margin: 0;
    padding-top: 10px;
    padding-left: 12px;
  }
  .logo {
    width: 100px;
    height: 10%;
  }
  .main {
    margin-top: 50px;
    margin-left: 200px;
    padding: 0;
    height: 500px;
    width: 350px;
    box-sizing: border-box;
    gap: 70px;
  }
  #error-message {
    margin: 0;
    padding: 0;
  }
  /* -------The big sign up text---- */
  .header {
    padding-left: 90px;
    flex: 0.5;
    gap: 8px;
    height: 30px;
  }
  .header > * {
    font-size: 50px;
  }
  /* ----The whole text box area-- */
  .section {
    flex: 2;
    height: 500px;
    width: 400px;
    gap: 20px;
    padding-left: 20px;
  }
  /* ----email div that has the input & logo div---- */
  .email {
    flex: 1;
    height: 30px;
    width: 300px;
  }
  .email > input {
    height: 30px;
  }
  .emailInput::placeholder {
    font-size: 15px;
  }
  /* --email icon div--- */
  .emailIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .emailIconWhole > * {
    font-size: 15px;
  }
  /* ---pwd div--- */
  .password {
    flex: 1;
    height: 30px;
    width: 300px;
  }
  .password > input {
    height: 30px;
    width: 20px;
  }
  .pwdInput::placeholder {
    font-size: 15px;
  }
  .pwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 30px;
  }
  .pwdIconWhole > * {
    font-size: 15px;
  }
  /* ---confirm pwd div---- */
  .confirmPwd {
    flex: 1;
    height: 30px;
    width: 300px;
  }
  .confirmPwd > input {
    height: 30px;
  }
  .cpwdInput::placeholder {
    font-size: 15px;
  }
  .cpwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .cpwdIconWhole > * {
    font-size: 15px;
  }
  .pwdIconeye {
    margin: 0;
    padding-left: 0;
    padding-top: 5px;
    height: 30px;
    width: 50px;
  }
  .eye.one {
    font-size: 15px;
  }
  .cpwdIconeye {
    padding-top: 5px;
    height: 30px;
    width: 30px;
  }
  .eye.two {
    font-size: 15px;
  }
  /* ----Firstname text box---- */
  .fnameInput {
    flex: 1;
    height: 30px;
    width: 300px;
    padding: 10px;
    padding-left: 35px;
  }
  .fnameInput::placeholder {
    font-size: 15px;
  }
  /* -lastname text box- */
  .lnameInput {
    flex: 1;
    height: 30px;
    width: 300px;
    padding: 10px;
    padding-left: 35px;
  }
  .lnameInput::placeholder {
    font-size: 15px;
  }
  /* -singn up button--- */
  .button {
    flex: 2;
    margin-left: 70px;
    margin-top: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: inter;
  }
  /* ---date div that has the date of birth label & date input-- */
  .date {
    flex: 0.5;
    gap: 6px;
  }
  .date > * {
    flex: 1;
    font-size: 15px;
    width: 300px;
  }
  /* ---date input style--- */
  .datePicker {
    padding-left: 5px;
  }
  /* --already have an acount link style-- */
  .footer {
    flex: 0.2;
    padding-left: 83px;
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  form {
    margin: 0;
    padding-top: 10px;
    padding-left: 12px;
  }
  .logo {
    width: 100px;
    height: 10%;
  }
  .main {
    margin-top: 30px;
    margin-left: 115px;
    padding: 0;
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    gap: 30px;
  }
  #error-message {
    margin: 0;
    padding: 0;
  }
  /* -------The big sign up text---- */
  .header {
    padding-left: 70px;
    flex: 0.5;
    gap: 8px;
    height: 30px;
  }
  .header > * {
    font-size: 30px;
  }
  /* ----The whole text box area-- */
  .section {
    flex: 2;
    height: 300px;
    width: 250px;
    gap: 20px;
    padding-left: 20px;
  }
  /* ----email div that has the input & logo div---- */
  .email {
    flex: 1;
    height: 30px;
    width: 210px;
  }
  .email > input {
    height: 30px;
  }
  .emailInput::placeholder {
    font-size: 10px;
  }
  /* --email icon div--- */
  .emailIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .emailIconWhole > * {
    font-size: 12px;
  }
  /* ---pwd div--- */
  .password {
    flex: 1;
    height: 30px;
    width: 210px;
  }
  .password > input {
    height: 30px;
  }
  .pwdInput::placeholder {
    font-size: 10px;
  }
  .pwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .pwdIconWhole > * {
    font-size: 12px;
  }
  /* ---confirm pwd div---- */
  .confirmPwd {
    flex: 1;
    height: 30px;
    width: 210px;
  }
  .confirmPwd > input {
    height: 30px;
  }
  .cpwdInput::placeholder {
    font-size: 10px;
  }
  .cpwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 55px;
  }
  .cpwdIconWhole > * {
    font-size: 12px;
  }
  .pwdIconeye {
    padding-top: 5px;
    height: 30px;
    width: 50px;
  }
  .eye.one {
    font-size: 12px;
  }
  .cpwdIconeye {
    padding-top: 5px;
    height: 30px;
    width: 50px;
  }
  .eye.two {
    font-size: 12px;
  }
  /* ----Firstname text box---- */
  .fnameInput {
    flex: 1;
    height: 30px;
    width: 210px;
    padding: 10px;
    padding-left: 35px;
  }
  .fnameInput::placeholder {
    font-size: 10px;
  }
  /* -lastname text box- */
  .lnameInput {
    flex: 1;
    height: 30px;
    width: 210px;
    padding: 10px;
    padding-left: 35px;
  }
  .lnameInput::placeholder {
    font-size: 10px;
  }
  /* -singn up button--- */
  .button {
    flex: 2;
    margin-left: 60px;
    margin-top: 5px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-family: inter;
  }
  /* ---date div that has the date of birth label & date input-- */
  .date {
    flex: 0.5;
    gap: 6px;
  }
  .date > * {
    flex: 1;
    font-size: 12px;
    width: 210px;
  }
  /* ---date input style--- */
  .datePicker {
    padding-left: 5px;
  }
  /* --already have an acount link style-- */
  .footer {
    flex: 0.2;
    padding-left: 60px;
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  form {
    margin: 0;
    padding-top: 10px;
    padding-left: 12px;
  }
  .logo {
    width: 100px;
    height: 10%;
  }
  .main {
    margin-top: 30px;
    margin-left: 40px;
    padding: 0;
    height: 350px;
    width: 350px;
    box-sizing: border-box;
    gap: 30px;
  }
  #error-message {
    margin: 0;
    padding: 0;
  }
  /* -------The big sign up text---- */
  .header {
    padding-left: 70px;
    flex: 0.5;
    gap: 8px;
    height: 30px;
  }
  .header > * {
    font-size: 30px;
  }
  /* ----The whole text box area-- */
  .section {
    flex: 2;
    height: 300px;
    width: 250px;
    gap: 20px;
    padding-left: 20px;
  }
  /* ----email div that has the input & logo div---- */
  .email {
    flex: 1;
    height: 30px;
    width: 210px;
  }
  .email > input {
    height: 30px;
  }
  .emailInput::placeholder {
    font-size: 10px;
  }
  /* --email icon div--- */
  .emailIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .emailIconWhole > * {
    font-size: 12px;
  }
  /* ---pwd div--- */
  .password {
    flex: 1;
    height: 30px;
    width: 210px;
  }
  .password > input {
    height: 30px;
  }
  .pwdInput::placeholder {
    font-size: 10px;
  }
  .pwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 20px;
  }
  .pwdIconWhole > * {
    font-size: 12px;
  }
  /* ---confirm pwd div---- */
  .confirmPwd {
    flex: 1;
    height: 30px;
    width: 210px;
  }
  .confirmPwd > input {
    height: 30px;
  }
  .cpwdInput::placeholder {
    font-size: 10px;
  }
  .cpwdIconWhole {
    padding-top: 5px;
    height: 30px;
    width: 55px;
  }
  .cpwdIconWhole > * {
    font-size: 12px;
  }
  .pwdIconeye {
    padding-top: 5px;
    height: 30px;
    width: 50px;
  }
  .eye.one {
    font-size: 12px;
  }
  .cpwdIconeye {
    padding-top: 5px;
    height: 30px;
    width: 50px;
  }
  .eye.two {
    font-size: 12px;
  }
  /* ----Firstname text box---- */
  .fnameInput {
    flex: 1;
    height: 30px;
    width: 210px;
    padding: 10px;
    padding-left: 35px;
  }
  .fnameInput::placeholder {
    font-size: 10px;
  }
  /* -lastname text box- */
  .lnameInput {
    flex: 1;
    height: 30px;
    width: 210px;
    padding: 10px;
    padding-left: 35px;
  }
  .lnameInput::placeholder {
    font-size: 10px;
  }
  /* -singn up button--- */
  .button {
    flex: 2;
    margin-left: 60px;
    margin-top: 5px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-family: inter;
  }
  /* ---date div that has the date of birth label & date input-- */
  .date {
    flex: 0.5;
    gap: 6px;
  }
  .date > * {
    flex: 1;
    font-size: 12px;
    width: 210px;
  }
  /* ---date input style--- */
  .datePicker {
    padding-left: 5px;
  }
  /* --already have an acount link style-- */
  .footer {
    flex: 0.2;
    padding-left: 60px;
    font-size: 10px;
  }
}
