* {
  font-family: sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  font-family: Marcellus SC;
  color: rgba(0, 0, 0, 1);

  padding: 50px;
  font-size: 40px;
  font-weight: bold;
  font-weight: bolder;
}
.yellow {
  color: rgba(245, 177, 60, 1);
  font-family: Marcellus SC;
}
.sessionDataContainer {
  padding: 10px;
  /* padding-left: 30px; */
  display: flex;

  gap: 80px;
  padding: 50px;
  width: 500px;
  height: 360px;
  padding-left: 250px;
  border-radius: 20px;
  display: f;
  /* background-image: url(../Pictures/Untitled.jpeg);  */
  background-image: url(../Pictures/fern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
  font-weight: 600;
  font-family: linden Hill;

  color: white;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sessionDataContainer > label {
  display: flex;
  font-size: 20px;
  height: 50px;
}
