<h2>@ViewBag.title</h2>

<form asp-controller="Meditator" asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="meditatorID">meditatorID</label>
        <input class="form-control" type="text" name="meditatorID" id="">
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="firstName" id="">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" name="lastName" id="">
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="text" name="password" id="">
    </div>

    <div class="form-group">
        <label for="currentStage">Current Stage</label>
        <input class="form-control" type="text" name="currentStage" id="">
    </div>

    <div class="form-group">
        <label for="profilePictureFormFile">Profile Picture</label>
        <input class="form-control" type="file" name="profilePictureFormFile" id="">
    </div>
    <div class="form-group">
        <label for="profilePicturesFormFile">Multiple Profile Pictures</label>
        <input multiple class="form-control" type="file" name="profilePicturesFormFile" id="">
    </div>
    <div class="form-group">
        <button class="form-control" type="submit">Submit</button>
    </div>
</form>
