html {
  font-size: 30.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%;
}
.account-panel--gzF {
  box-sizing: border-box;
  padding: 3.275rem 80.3rem 90rem 50rem;
  padding-bottom: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.account-panel--gzF .healthicons-ui-user-profile-Pdm {
  margin: 3rem 7.4rem 1.975rem 4rem;
  width: 18.3333rem;
  height: 19.7502rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-panel--gzF .set-new-photo-uc7 {
  margin: 0rem 9.9rem 1.8rem 0rem;
  text-align: center;
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 1.375;
  color: #0b57d0;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.set-new-photo-uc7 {
  color: #000000;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 30px;
}
.account-panel--gzF .email-QYs {
  margin-bottom: 5.8rem;
  box-sizing: border-box;
  padding: 2.3rem 1.15rem 2.5rem 5rem;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.email-QYs {
}
.email-QYs:hover {
  box-shadow: 0 0 10px black;
}
.account-panel--gzF .firstname-box-hH5 {
  margin-bottom: 5.5rem;
  box-sizing: border-box;
  padding: 3.1rem 6.35rem 2.2rem 6.35rem;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.firstname-box-hH5:hover {
  box-shadow: 0 0 10px black;
}
.account-panel--gzF .lastname-box-Pvb {
  margin-bottom: 7.4rem;
  box-sizing: border-box;
  padding: 2.7rem 5.9rem 2.5rem 5.9rem;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.lastname-box-Pvb:hover {
  box-shadow: 0 0 10px black;
}
.account-panel--gzF .old-password-Vyd {
  margin-bottom: 5.7rem;
  width: 100%;
  height: 10.7rem;
  flex-shrink: 0;
}
.account-panel--gzF .old-password-Vyd .old-password-rJP {
  box-sizing: border-box;

  padding: 3.4rem 3.775rem 1.8rem 2.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}
.account-panel--gzF .old-password-Vyd .old-password-rJP .vector-yP1 {
  margin: 0;
  width: 3.1rem;
  height: 4.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.old-password-hK1 {
  background-color: #d9d9d9;
  width: 60%;
}
.old-password-Vyd:hover {
  box-shadow: 0 0 10px black;
}
.eye.one {
  font-size: 15px;
}
.new-password-N3m {
  background-color: #d9d9d9;
  width: 60%;
}
.eye.two {
  font-size: 15px;
}
.account-panel--gzF .old-password-Vyd .old-password-rJP .old-password-hK1 {
  margin-right: 20rem;
  margin-left: 4.5rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.account-panel--gzF .old-password-Vyd .old-password-rJP .view-peX {
  margin-top: 0.3rem;
  width: 1rem;
  height: 2.1rem;
  /* position: relative; */
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-panel--gzF .new-password-box-wDM {
  margin-bottom: 7.3rem;
  box-sizing: border-box;
  padding: 4rem 4.05rem 1.5rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.new-password-box-wDM {
  width: 30%;
}
.one {
  margin: 0rem 5rem 0.6rem 0.9rem;
  width: 3rem;
  height: 4.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-panel--gzF .new-password-box-wDM .password-icon-2-Fzj {
  margin: 0rem 5.5rem 1.6rem 0rem;
  opacity: 0.8;
  width: 3.3rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-panel--gzF .new-password-box-wDM .new-password-N3m {
  margin-right: 20rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.account-panel--gzF .new-password-box-wDM .view-VPH {
  margin-bottom: 1.7rem;
  width: 3.3rem;
  height: 2.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.account-panel--gzF .dateofbirth-box-RGw {
  margin-bottom: 5rem;
  box-sizing: border-box;
  padding: 3rem 4.375rem 2.2rem 4.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.dateofbirth-box-RGw {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 9px;
}
.dateofbirth-box-RGw > label {
  padding-left: 2rem;
  flex: 0.8;
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: #575656;
}
.datePicker {
  background-color: rgb(235, 235, 235);
  flex: 1.5;
  font-size: 20px;
  color: #706f6f;
  font-weight: bold;
  text-align: center;
  border-radius: 8%;
  border: solid 0.1px rgb(237, 235, 235);
}
.account-panel--gzF .dateofbirth-box-RGw .date-of-birth-8h9 {
  margin-right: 49.675rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Linden Hill, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  margin-bottom: 0;
}
.edit-button-ap3 {
  /* margin: 0 18.6rem; */
  /* width: calc(100% - 37.2rem); */
  flex: 1;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  line-height: 8rem;
  color: rgba(253, 204, 121, 1);
  background-color: rgba(1, 65, 0, 1);
  font-family: inter;
  border: none;
}
.edit-button-ap3:hover {
  box-shadow: 0 0 5px black;
}
