html {
    font-size: 30.5%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  ul,
  li {
    list-style: none;
  }
  input {
    border: none;
  }
 
body{
    box-sizing: border-box;
    padding: 3.275rem 80.3rem 90rem 50rem;
    padding-bottom: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    left: -30px;
    top:100px
  }


  .yellow {
    color: #f5b13c;
  }

   .old-password-Vyd {
    margin-bottom: 5.7rem;
    width: 100%;
    height: 10.7rem;
    flex-shrink: 0;
  }
  .old-password-Vyd .old-password-rJP {
    box-sizing: border-box;
  
    padding: 3.4rem 3.775rem 1.8rem 2.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
  }
   .old-password-Vyd .old-password-rJP .vector-yP1 {
    margin: 0;
    width: 3.1rem;
    height: 4.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .old-password-Vyd .old-password-rJP .old-password-hK1 {
    padding-left: 10px;
    background-color: #d9d9d9;
    width: 60%;
  }
  .old-password-Vyd:hover {
    box-shadow: 0 0 10px black;
  }
  .eye.one {
    font-size: 15px;
    z-index: 1;
  }
  .new-password-N3m {
    padding-left: 10px;
    background-color: #d9d9d9;
    width: 60%;
  }
  .new-password-box-wDM:hover {
    box-shadow: 0 0 10px black;
  }
  body .new-password-box-wDM .two {
    font-size: 15px;
  }
 .old-password-Vyd .old-password-rJP .old-password-hK1 {
    margin-right: 20rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.375;
    color: #000000;
    font-family: Linden Hill, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
  }
.old-password-Vyd .old-password-rJP .view-peX {
    margin-top: 0.3rem;
    width: 1rem;
    height: 2.1rem;
    /* position: relative; */
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }

body .new-password-box-wDM {
    margin-bottom: 7.3rem;
    box-sizing: border-box;
    padding: 4rem 4.05rem 1.5rem 1.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;
  }
  
  .one {
    margin: 0rem 5rem 0.6rem 0.9rem;
    width: 3rem;
    height: 4.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    z-index: 1;
  }
  .new-password-box-wDM .password-icon-2-Fzj {
    margin: 0rem 5.5rem 1.6rem 0rem;
    opacity: 0.8;
    width: 3.3rem;
    height: 3.9rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
 .new-password-box-wDM .new-password-N3m {
    margin-right: 20rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.375;
    color: #000000;
    font-family: Linden Hill, "Source Sans Pro";
    white-space: nowrap;
    flex-shrink: 0;
  }
 .new-password-box-wDM .view-VPH {
    margin-bottom: 1.7rem;
    width: 3.3rem;
    height: 2.5rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
 
  .edit-button-ap3 {
    /* margin: 0 18.6rem; */
    width: calc(100% );
    /* position:relative; */
    /* left :12px; */
    /* width: 60vmin; */
    border: none;
    border-radius: 1vw;
    transition: background-color 0.5s ease;
    font-size: 3.8vmin;
    font-family: inter;
    background-color: rgba(8, 72, 3, 0.263);
  }
  .edit-button-ap3:hover {
    box-shadow: 0 0 5px black;
  }
  