html {
	font-size:18.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.mainWrapper {
  box-sizing: border-box;
  padding: 0rem 5.2rem 0rem 0.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.mainWrapper .sideMenu {
  box-sizing: border-box;
  padding: 1.842rem 0rem 119.3rem 1.917rem;
  position: relative;
  width: 85.5rem;
  font-size: 10%;
  /* background-color: rgb(217, 217, 217); */

  flex-shrink: 0;
}
.mainWrapper .sideMenu .sideMenuIcons {
  margin-bottom: 12.9415rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.mainWrapper .sideMenu .sideMenuIcons .userProfilePic {
  margin-right: 75.25rem;
  width: 12.1667rem;
  height: 12.4168rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mainWrapper .sideMenu .sideMenuIcons .minimizeMenuIcon {
  margin-top: 0.0577rem;
  width: 11.1765rem;
  height: 7.3579rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  position: relative;
  left: -50px;
}
.mainWrapper .sideMenu .accountDetailsButton {
  margin: -4rem 48.15rem 0rem 0.516rem;
  box-sizing: border-box;
  padding-left: 1.233rem;
  width: calc(100%);
  height: 15.8rem;
  display: flex;
  font-size: 1%;
  align-items: center;
}
.mainWrapper .sideMenu .accountDetailsButton .accountDetailsIcon {
  margin: 1.336rem 4.524rem 0rem 0rem;
  width: 12.8605rem;
  height: 11.834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mainWrapper .sideMenu .accountDetailsButton .accountDetailsText {
  margin-bottom: 3.4rem;
  text-align: center;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Mako, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mainWrapper .sideMenu .themeButton {
  margin: 0rem 33.45rem 1rem 1.783rem;
  box-sizing: border-box;
  padding-left: 1rem;
  width: calc(100%);
  height: 15.2rem;
  display: flex;
  align-items: center;
}
.mainWrapper .sideMenu .themeButton .themeIcon {
  margin: 4.1rem 6.45rem 0rem 0rem;
  width: 10rem;
  height: 9.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mainWrapper .sideMenu .themeButton .themeText {
  margin-bottom: 2.8rem;
  text-align: center;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Mako, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mainWrapper .sideMenu .soundControlButton {
  margin-left: 2.2833rem;
  width: calc(100% - 2.2833rem);
  display: flex;
  align-items: flex-end;
}
.mainWrapper .sideMenu .soundControlButton .soundControls {
  margin: 0rem 289.55rem 2rem 0rem;
  width: 64.15rem;
  height: 13.1rem;
  position: relative;
  flex-shrink: 0;
}
.mainWrapper .sideMenu .soundControlButton .soundControls .sound-controls-G27 {
  width: 59.5rem;
  height: 12.4rem;
  position: absolute;
  left: 7.65rem;
  top: 0;
  text-align: center;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.375;
  color: #000000;
  font-family: Mako, 'Source Sans Pro';
  white-space: nowrap;
}
.mainWrapper .sideMenu .soundControlButton .soundControls .lets-icons-sound-max-fill-mDm {
  width: 8.5436rem;
  height: 6.8797rem;
  /* position: absolute; */
  left: 1.7816rem;
  /* top: 4.2103rem; */
  object-fit: contain;
  vertical-align: top;
}
.mainWrapper .sideMenu .soundControlButton .mdi-hamburger-open-UP5 {
  width: 2.4rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.mainWrapper .ContentPanel {
  margin-top: 0.6rem;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-shrink: 0;
}
.mainWrapper .ContentPanel .IframeBox {
  width: 100%;
  height: 220.5rem;
  position: absolute;
  top: 0;
  background-color: #ffffff;
}
.mainWrapper .ContentPanel .logoIcon {
  width: 42.5rem;
  height: 20.3rem;
  position: absolute;
  left: 215.5rem;
  top: 6.3rem;
}
.mainWrapper .ContentPanel .logoIcon .writing-1-opf {
  width: 21.25rem;
  height: 6.09rem;
  position: absolute;
  left: 76.25rem;
  top: 7.2501rem;
  object-fit: cover;
  vertical-align: top;
}
.mainWrapper .ContentPanel .logoIcon .armimo-logo-2-1-LJo {
  width: 21.25rem;
  height: 20.3rem;
  position: absolute;
  left: 100rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}

.minimizeMenuIcon:hover{
  transform: translateY(-3px);
}

.armimo-logo-2-1-LJo:hover{
  transform: scale(1.1);
  transition: transform 1s;
}

/* Account details hover */
.sideMenuButtons:hover{
  transform: scale(1.06);
  transition: transform 1s;
}
.activeTab{
  background-color: #f9f9f9;
  border-radius: 5%;
}
.activeTab img{
  filter: invert(48%) sepia(60%) saturate(222222222222%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
.accountDetailsButton img{
  transform: scale(0.7);
  position: relative;
  top:-5px;
}
.themeButton img{
  transform: scale(0.7);
  position: relative;
  top:-8px;
}
.soundControls img{
  transform: scale(0.7);
  position: relative;
  top:3px;
}

.sideMenuButtons p{
  font-size:large !important;
}
#contentDiv iframe{
  width: 100%;
  height: 100vh;
  font-size: xx-small;
  border: none;
}

@media (max-width:600px) {
  html {
    font-size: 15;
  }
  .mainWrapper .ContentPanel .logoIcon{
    position: absolute;
    left:-190px;
    top:-1px;
  }
 
  .mainWrapper .sideMenu .sideMenuIcons .minimizeMenuIcon {
    position: relative;
    z-index: 1;
  }
 }