
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 364rem;
}.home-page-VCX {
  width: 100%;
  height: 238.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .el-group-Efu {
    width: 22.9rem;
    height: 16.1176rem;
    position: absolute;
    left: 335.6rem;
    top: 219.0912rem;
    object-fit: contain;
    vertical-align: top;
  }
  .appname-ApT {
    object-fit: cover;
    vertical-align: top;
    width: 64rem;
    height: 19.2rem;
    position: absolute;
    left: 152.7rem;
    top: 195.2rem;
  }
  .vector-7Du {
    width: 14.9rem;
    height: 15.5rem;
    position: absolute;
    left: 11.1rem;
    top: 219.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .center-portion-ezX {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:144:26');
    width: 205.3rem;
    height: 181.1rem;
    left: 82.1rem;
    top: 9.5rem;
    background-repeat: no-repeat;

    .ellipse-9-yX1 {
      vertical-align: top;
      width: 173.7rem;
      height: 169rem;
      position: absolute;
      left: 20.4rem;
      top: 7.2rem;
      object-fit: contain;
    }
    .ellipse-8-ijV {
      left: 27.7rem;
      top: 12.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 160.9rem;
      height: 159.1rem;
      position: absolute;
    }
    .ellipse-7-GFD {
      width: 147.5rem;
      height: 149.5rem;
      position: absolute;
      left: 36.1rem;
      top: 17.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-6-oF9 {
      height: 137.5rem;
      position: absolute;
      left: 40.1rem;
      top: 23.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 137.4rem;
    }
    .ellipse-5-jPh {
      top: 28.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 128.3rem;
      height: 127.7rem;
      position: absolute;
      left: 44.5rem;
    }
    .ellipse-4-rz7 {
      width: 120.3rem;
      height: 117.8rem;
      position: absolute;
      left: 48.9rem;
      top: 32.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ellipse-3-D3y {
      left: 52.1rem;
      top: 37.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 113.1rem;
      height: 109.1rem;
      position: absolute;
    }
    .ellipse-2-8Rq {
      top: 40.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 104.7rem;
      height: 101.9rem;
      position: absolute;
      left: 56.8rem;
    }
    .ellipse-1-GH9 {
      left: 61.3rem;
      top: 45.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 95.3rem;
      height: 93rem;
      position: absolute;
    }
    .center-circle-1Ej {
      height: 123.2515rem;
      position: absolute;
      left: 45.4rem;
      top: 32.8rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      border-radius: 2.5rem;
      width: 123.5766rem;

      .stage-10-WBV {
        left: 17.983rem;
        top: 16.6035rem;
        object-fit: contain;
        vertical-align: top;
        width: 84.4826rem;
        height: 87.0632rem;
        position: absolute;
      }
      .stage-9-ENP {
        position: absolute;
        left: 18.1292rem;
        top: 16.7432rem;
        object-fit: contain;
        vertical-align: top;
        width: 86.2868rem;
        height: 86.6262rem;
      }
      .stage-8-ZQf {
        position: absolute;
        left: 18.1677rem;
        top: 16.7792rem;
        object-fit: contain;
        vertical-align: top;
        width: 86.2097rem;
        height: 86.8697rem;
      }
      .stage-7-hFy {
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.5rem;
        width: 50.601rem;
        height: 51.3978rem;
        position: absolute;
        left: 43.0118rem;
        top: 60.25rem;
      }
      .stage-6-2JF {
        left: 2.4596rem;
        top: 1.3357rem;
        object-fit: contain;
        vertical-align: top;
        width: 121.1169rem;
        height: 120.4725rem;
        position: absolute;
      }
      .stage-5-kEF {
        vertical-align: top;
        width: 104.9494rem;
        height: 102.9214rem;
        position: absolute;
        left: 10.3643rem;
        top: 9.3229rem;
        object-fit: contain;
      }
      .stage-4-HV5 {
        width: 115.4989rem;
        height: 114.6213rem;
        position: absolute;
        left: 5.6389rem;
        top: 4.506rem;
        object-fit: contain;
        vertical-align: top;
      }
      .stage-3-pzo {
        height: 123.2515rem;
        position: absolute;
        left: 0rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 122.9902rem;
      }
      .stage-2-Mzj {
        object-fit: contain;
        vertical-align: top;
        width: 86.2868rem;
        height: 86.6262rem;
        position: absolute;
        left: 18.1292rem;
        top: 16.7432rem;
      }
      .stage-1-Jf5 {
        width: 86.2868rem;
        height: 86.6262rem;
        position: absolute;
        left: 17.045rem;
        top: 15.4743rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-10-3sZ {
        top: 55.5rem;
        font-size: 7rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        width: 6.7rem;
        height: 9.7rem;
        position: absolute;
        left: 43.7rem;
        font-family: Mako, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-9-KaB {
        top: 66.6461rem;
        text-align: center;
        font-size: 7rem;
        line-height: 1.375;
        height: 9.7rem;
        position: absolute;
        left: 44.9357rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Mako, 'Source Sans Pro';
        white-space: nowrap;
        width: 4.1rem;
      }
      .item-8-EBM {
        color: #ffffff;
        font-family: Mako, 'Source Sans Pro';
        height: 9.7rem;
        font-size: 7rem;
        left: 53.5327rem;
        top: 73.5405rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.375;
        white-space: nowrap;
        width: 4rem;
        position: absolute;
      }
      .item-7-kQb {
        height: 9.7rem;
        position: absolute;
        top: 75.4709rem;
        line-height: 1.375;
        white-space: nowrap;
        width: 3.2rem;
        text-align: center;
        font-size: 7rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Mako, 'Source Sans Pro';
        left: 67.9776rem;
      }
      .item-6-4AP {
        width: 4.1rem;
        height: 9.7rem;
        left: 84.9451rem;
        top: 71.0585rem;
        font-size: 7rem;
        color: #ffffff;
        font-family: Mako, 'Source Sans Pro';
        position: absolute;
        text-align: center;
        font-weight: 400;
        line-height: 1.375;
        white-space: nowrap;
      }
      .item-5-Az7 {
        font-family: Mako, 'Source Sans Pro';
        height: 9.7rem;
        position: absolute;
        top: 54.8796rem;
        text-align: center;
        font-size: 7rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        width: 3.6rem;
        left: 91.8017rem;
        white-space: nowrap;
      }
      .item-4-6My {
        line-height: 1.375;
        color: #ffffff;
        width: 3.7rem;
        height: 9.7rem;
        top: 34.8398rem;
        text-align: center;
        font-size: 7rem;
        position: absolute;
        left: 86.8083rem;
        font-weight: 400;
        font-family: Mako, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-3-onB {
        position: absolute;
        top: 23.533rem;
        font-size: 7rem;
        line-height: 1.375;
        color: #ffffff;
        font-family: Mako, 'Source Sans Pro';
        width: 3.7rem;
        height: 9.7rem;
        left: 70.9154rem;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
      }
      .item-2-8ZZ {
        width: 3.4rem;
        position: absolute;
        top: 20.1317rem;
        font-weight: 400;
        line-height: 1.375;
        color: #ffffff;
        font-family: Mako, 'Source Sans Pro';
        height: 9.7rem;
        left: 48.7507rem;
        text-align: center;
        font-size: 7rem;
        white-space: nowrap;
      }
      .item-1-3wR {
        width: 2.3rem;
        line-height: 1.375;
        color: #000000;
        font-family: Mako, 'Source Sans Pro';
        white-space: nowrap;
        height: 9.7rem;
        position: absolute;
        left: 30.1738rem;
        top: 33.9206rem;
        text-align: center;
        font-size: 7rem;
        font-weight: 400;
      }
    }
  }
}
