
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.tv-2-PT1 {
  background-color: #ffffff;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 3.5rem 3.4rem 2.901rem 5.643rem;
  width: 100%;
  overflow: hidden;

  .auto-group-wykf-K5m {
    margin: 0rem 62.6rem 0rem 60.357rem;
    box-sizing: border-box;
    padding: 17.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: calc(100% - 122.9568rem);
    filter: blur(0.1rem);
    background-position: center;
    background-image: url('REPLACE_IMAGE:93b9cd01b08579ed48ac0954b38a16d56c373a11');
    flex-shrink: 0;

    .stages-3-circle-crop-1-q47 {
      width: 25rem;
      height: 25rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .writing-2-Xhd {
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 15.7rem 1.757rem;
    width: 64rem;
    height: 19.2rem;
  }
  .auto-group-zjuw-rju {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;

    .settings-icon-2-D4f {
      flex-shrink: 0;
      margin: 1.7rem 173.244rem 0rem 0rem;
      width: 4.7127rem;
      height: 4.999rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-464b-8hR {
      width: 5rem;
      height: 4.1667rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
