
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-us-eSo {
  border-radius: 8rem;
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-hg6o-W7d {
    height: 108.1113rem;
    position: absolute;
    left: 38.7rem;
    top: 0;
    border-left: solid 0.1rem #f5b13c;
    box-sizing: border-box;
    width: 154.9022rem;

    .dream-8oD {
      align-items: baseline;
      color: #f5b13c;
      font-family: Linden Hill, 'Source Sans Pro';
      white-space: nowrap;
      top: 56rem;
      font-size: 4rem;
      line-height: 1.375;
      display: flex;
      position: absolute;
      left: 28.05rem;
      font-weight: 400;
      width: 36.5rem;
      height: 5.5rem;
      text-align: center;

      .dream-8oD-sub-0 {
      }
      .dream-8oD-sub-1 {
        font-weight: 500;
        line-height: 1.375;
        color: #f5b13c;
        font-family: MedievalSharp, 'Source Sans Pro';
        font-size: 4rem;
      }
      .dream-8oD-sub-2 {
        color: #f5b13c;
        font-family: MedievalSharp, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.375;
      }
      .dream-8oD-sub-3 {
      }
    }
    .who-are-we-vW7 {
      white-space: nowrap;
      width: 21.6rem;
      left: 35.55rem;
      top: 32.3rem;
      font-weight: 400;
      line-height: 1.375;
      color: #386526;
      height: 5.5rem;
      position: absolute;
      text-align: center;
      font-size: 4rem;
      font-family: Linden Hill, 'Source Sans Pro';
    }
    .who-we-are--1XZ {
      color: #000000;
      height: 8.3rem;
      position: absolute;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.375;
      width: 77.1rem;
      left: 7.1rem;
      top: 41.5rem;
      font-family: Linden Hill, 'Source Sans Pro';

      .who-we-are--1XZ-sub-0 {
      }
      .who-we-are--1XZ-sub-1 {
        font-weight: 500;
        line-height: 1.375;
        color: #000000;
        font-family: MedievalSharp, 'Source Sans Pro';
        font-size: 3rem;
      }
      .who-we-are--1XZ-sub-2 {
      }
      .who-we-are--1XZ-sub-3 {
        color: #000000;
        font-family: MedievalSharp, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.375;
      }
      .who-we-are--1XZ-sub-4 {
      }
    }
    .about-us-Nuq {
      height: 15.2rem;
      justify-content: center;
      font-size: 9rem;
      color: #043d03;
      width: 36.3rem;
      left: 27.1rem;
      top: 11.95rem;
      display: flex;
      line-height: 1.375;
      white-space: nowrap;
      position: absolute;
      align-items: baseline;
      font-weight: 800;
      letter-spacing: 0.45rem;
      font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';

      .about-us-Nuq-sub-0 {
        font-size: 11rem;
        font-weight: 500;
        line-height: 1.375;
        letter-spacing: 0.22rem;
        color: #043d03;
        font-family: Megrim, 'Source Sans Pro';
      }
      .about-us-Nuq-sub-1 {
        color: #043d03;
        font-family: Marcellus SC, 'Source Sans Pro';
        font-size: 9rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: 0.27rem;
      }
      .about-us-Nuq-sub-2 {
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: -0.27rem;
        color: #043d03;
        font-family: Marcellus SC, 'Source Sans Pro';
        font-size: 9rem;
      }
      .about-us-Nuq-sub-3 {
        font-size: 9rem;
        font-weight: 400;
        line-height: 1.375;
        letter-spacing: -0.18rem;
        color: #043d03;
        font-family: Marcellus SC, 'Source Sans Pro';
      }
      .about-us-Nuq-sub-4 {
        line-height: 1.7678571429;
        letter-spacing: 0.07rem;
        color: #f5b13c;
        font-family: Marcellus SC, 'Source Sans Pro';
        font-size: 7rem;
        font-weight: 400;
      }
      .about-us-Nuq-sub-5 {
        font-size: 7rem;
        font-weight: 400;
        line-height: 1.7678571429;
        letter-spacing: 0.07rem;
        color: #043d03;
        font-family: Marcellus SC, 'Source Sans Pro';
      }
    }
    .home-e27 {
      position: absolute;
      top: 96.7rem;
      font-weight: 500;
      letter-spacing: 0.21rem;
      color: #043d03;
      width: 9.7rem;
      left: 42.2rem;
      text-align: center;
      font-size: 3.5rem;
      line-height: 1.375;
      font-family: Megrim, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.9rem;
    }
    .center-line-7gP {
      width: 0.1rem;
      height: 5.2rem;
      position: absolute;
      left: 46.6rem;
      top: 27.1rem;
      background-color: #f5b13c;
    }
    .line-above-2oM {
      width: 22.8rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 58.6rem;
      background-color: #f5b13c;
    }
    .dream-ZoH {
      font-family: Linden Hill, 'Source Sans Pro';
      width: 83.5rem;
      height: 20.7rem;
      position: absolute;
      top: 62.9rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.375;
      left: 5.3rem;
      color: #000000;

      .dream-ZoH-sub-0 {
        font-weight: 400;
        line-height: 1.03125;
        color: #000000;
        font-family: Linden Hill, 'Source Sans Pro';
        font-size: 4rem;
      }
      .dream-ZoH-sub-1 {
      }
      .dream-ZoH-sub-2 {
        color: #000000;
        font-family: MedievalSharp, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.375;
      }
      .dream-ZoH-sub-3 {
      }
      .dream-ZoH-sub-4 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.375;
        color: #000000;
        font-family: MedievalSharp, 'Source Sans Pro';
      }
      .dream-ZoH-sub-5 {
      }
    }
    .fade-akK {
      height: 108.0533rem;
      position: absolute;
      left: 74.5rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 25.3456rem;
    }
    .road-image-Wts {
      background-position: center;
      background-image: url('REPLACE_IMAGE:d47f13578cb09dcef88693a409f5fcb4b36bc03b');
      border-radius: 0 9rem 9rem 0;
      height: 108rem;
      background-size: 100% 100%;
      left: 99.3022rem;
      top: 0;
      background: linear-gradient(268.46deg, rgba(33, 209, 209, 0) -133.37%, rgba(33, 209, 209, 0.5) -119.8%, rgba(33, 209, 209, 0.6000000238) -117.15%, rgba(33, 209, 209, 0.6999999881) -115.37%, rgba(33, 209, 209, 0.8000000119) -113.45%, rgba(33, 209, 209, 0.8999999762) -110.28%, rgba(33, 209, 209, 0.9499999881) -107.46%, rgba(33, 209, 209, 0.9800000191) -106.23%, rgba(33, 209, 209, 0.9900000095) -104.28%);
      background-repeat: no-repeat;
      width: 55.6rem;
      position: absolute;
    }
  }
  .logo-ECb {
    display: flex;
    align-items: center;
    width: 17rem;
    height: 9.3rem;
    position: absolute;
    left: 13.9rem;
    top: 6.1rem;

    .armimo-logo-2-1-835 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 8.5rem;
      height: 9.3rem;
    }
    .writing-1-4SX {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1329rem;
      width: 8.5rem;
      height: 2.79rem;
      object-fit: cover;
    }
  }
  .settingline-Pjh {
    left: 123.7rem;
    top: 48.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 15.6213rem;
    height: 14.6448rem;
    position: absolute;
  }
  .settingbutton-vDq {
    width: 16.1135rem;
    height: 14.6374rem;
    position: absolute;
    left: 122.652rem;
    top: 46.474rem;
    object-fit: contain;
    vertical-align: top;
  }
}
