
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 162.6rem;
}.frame-2-YrP {
  position: relative;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 19rem 58.8rem 34.6rem 51.7rem;
  width: 100%;
  overflow: hidden;

  .auto-group-cs6x-TyM {
    margin-bottom: 3.6rem;
    width: 100%;
    height: 6rem;
    position: relative;
    flex-shrink: 0;

    .expanddown-1EB {
      width: 1.5rem;
      height: 0.75rem;
      position: absolute;
      left: 46.75rem;
      top: 2.825rem;
      object-fit: contain;
      vertical-align: top;
    }
    .expanddown-LXM {
      left: 45.75rem;
      top: 2.025rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.5rem;
      height: 0.75rem;
      position: absolute;
    }
    .level-box-4iF {
      width: 52.1rem;
      height: 6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
    }
    .expanddown-17h {
      height: 0.75rem;
      position: absolute;
      left: 47.75rem;
      top: 2.225rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.5rem;
    }
    .how-would-you-rate-your-skill-level-L9y {
      font-family: Linden Hill, 'Source Sans Pro';
      height: 4.2rem;
      position: absolute;
      left: 1rem;
      font-weight: 400;
      line-height: 1.375;
      color: #000000;
      width: 41.1rem;
      top: 1.5rem;
      text-align: center;
      font-size: 3rem;
      white-space: nowrap;
    }
  }
  .auto-group-7xaf-cdH {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.8rem 2.85rem 1rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;

    .what-challenges-have-you-been-facing-8bd {
      margin-right: 3.55rem;
      text-align: center;
      font-family: Linden Hill, 'Source Sans Pro';
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.375;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .expanddown-ScK {
      margin-bottom: 0.4rem;
      width: 1.5rem;
      height: 0.75rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
