
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.login-BAs {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8rem;

  .button-v8T {
    left: 72rem;
    letter-spacing: 0.08rem;
    background-color: #014100;
    border-radius: 3rem;
    font-weight: 400;
    line-height: 1.0911999702;
    justify-content: center;
    font-size: 4rem;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    width: 43.2rem;
    height: 6.6906rem;
    position: absolute;
    top: 65.2019rem;
    color: #fdcc79;
    white-space: nowrap;
    align-items: center;
  }
  .log-in-y6j {
    line-height: 1.25390625;
    color: #000000;
    display: flex;
    align-items: baseline;
    width: 25.6rem;
    position: absolute;
    top: 29.1rem;
    font-weight: 400;
    white-space: nowrap;
    height: 11.3rem;
    left: 81rem;
    font-size: 9rem;
    font-family: Marcellus SC, 'Source Sans Pro';

    .log-in-y6j-sub-0 {
      color: #000000;
      font-family: Marcellus SC, 'Source Sans Pro';
      font-size: 9rem;
      font-weight: 400;
      line-height: 1.255;
    }
    .log-in-y6j-sub-1 {
      color: #f5b13c;
      font-family: Marcellus SC, 'Source Sans Pro';
      font-size: 9rem;
      font-weight: 400;
      line-height: 1.255;
    }
    .log-in-y6j-sub-2 {
      font-weight: 400;
      line-height: 1.255;
      color: #000000;
      font-family: Marcellus SC, 'Source Sans Pro';
      font-size: 9rem;
    }
  }
  .logo-Hv3 {
    width: 17rem;
    height: 9.3rem;
    position: absolute;
    left: 13.9rem;
    top: 6.1rem;
    display: flex;
    align-items: center;

    .armimo-logo-2-1-p9H {
      width: 8.5rem;
      height: 9.3rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .writing-1-wzb {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1329rem;
      width: 8.5rem;
      height: 2.79rem;
      object-fit: cover;
    }
  }
  .auto-group-xk95-UUj {
    width: 52.1rem;
    height: 5.6rem;
    position: absolute;
    left: 68rem;
    top: 44.5rem;

    .email-box-omu {
      left: 0;
      top: 0;
      background-color: #d9d9d9;
      width: 52.1rem;
      height: 5.5rem;
      position: absolute;
    }
    .email-or-meditator-name-YjV {
      align-items: baseline;
      height: 4.2rem;
      line-height: 1.375;
      color: #9a9191;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      left: 4.7rem;
      top: 1.4rem;
      text-align: center;
      width: 28.5rem;
      position: absolute;
      font-size: 3rem;
      font-family: Linden Hill, 'Source Sans Pro';

      .email-or-meditator-name-YjV-sub-0 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.375;
        color: rgba(2, 66, 0, 0.4799999893);
        font-family: Linden Hill, 'Source Sans Pro';
      }
      .email-or-meditator-name-YjV-sub-1 {
      }
    }
  }
  .email-icon-5N3 {
    height: 3rem;
    position: absolute;
    left: 69rem;
    top: 45.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 3rem;
  }
  .auto-group-y3as-PtX {
    padding: 0.7rem 1.65rem 0.6rem 1rem;
    width: 52.1rem;
    position: absolute;
    left: 68rem;
    top: 54rem;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    box-sizing: border-box;
    height: 5.5rem;

    .password-icon--soh {
      width: 2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.75rem 0.8rem 0rem;
      opacity: 0.8;
    }
    .password-n9y {
      color: rgba(2, 66, 0, 0.4799999893);
      font-family: Linden Hill, 'Source Sans Pro';
      margin-right: 31.9rem;
      font-size: 3rem;
      line-height: 1.375;
      flex-shrink: 0;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
    }
    .eye-6RZ {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.1rem;
      height: 1.35rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-qzjk-Ryd {
    width: 70.55rem;
    height: 4.2rem;
    position: absolute;
    left: 60.5rem;
    top: 82.4rem;
    display: flex;
    align-items: center;

    .create-an-account-mGo {
      font-size: 3rem;
      color: #000000;
      font-family: Linden Hill, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 31.45rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.375;
      white-space: nowrap;
    }
    .forgot-password-guZ {
      color: #000000;
      font-family: Linden Hill, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.375;
    }
  }
  .keep-me-logged-in-2Td {
    text-align: center;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: -0.1rem;
    color: rgba(2, 66, 0, 0.5600000024);
    width: 12.1rem;
    height: 2.8rem;
    top: 75.4rem;
    font-family: Linden Hill, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 102.45rem;
    font-size: 2rem;
  }
  .done-vJ7 {
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    left: 116rem;
    top: 75.7rem;
  }
}
