
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.sign-in-hZ5 {
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 8rem;
  width: 100%;
  height: 136.6rem;
  position: relative;

  .logo-EJ7 {
    position: absolute;
    left: 13.9rem;
    top: 6.1rem;
    display: flex;
    align-items: center;
    width: 17rem;
    height: 9.3rem;

    .armimo-logo-2-1-xzo {
      vertical-align: top;
      flex-shrink: 0;
      width: 8.5rem;
      height: 9.3rem;
      object-fit: cover;
    }
    .writing-1-u9M {
      margin-top: 0.1329rem;
      width: 8.5rem;
      height: 2.79rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .sign-up-dLF {
    white-space: nowrap;
    position: absolute;
    left: 80rem;
    font-size: 9rem;
    color: #000000;
    height: 12.4rem;
    text-align: center;
    line-height: 1.375;
    font-family: Marcellus SC, 'Source Sans Pro';
    width: 30.3rem;
    top: 19.6rem;
    display: flex;
    font-weight: 400;
    align-items: baseline;

    .sign-up-dLF-sub-0 {
      font-size: 9rem;
      font-weight: 400;
      line-height: 1.375;
      color: #043d03;
      font-family: Marcellus SC, 'Source Sans Pro';
    }
    .sign-up-dLF-sub-1 {
    }
    .sign-up-dLF-sub-2 {
      line-height: 1.375;
      color: #f5b13c;
      font-family: Marcellus SC, 'Source Sans Pro';
      font-size: 9rem;
      font-weight: 400;
    }
    .sign-up-dLF-sub-3 {
      font-size: 9rem;
      font-weight: 400;
      line-height: 1.375;
      color: #1e1e1e;
      font-family: Marcellus SC, 'Source Sans Pro';
    }
  }
  .auto-group-xxns-KF1 {
    padding: 1.2rem 1.75rem 0.1rem 1.75rem;
    align-items: baseline;
    position: absolute;
    top: 37.3rem;
    text-align: center;
    font-size: 3rem;
    font-family: Linden Hill, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    background-color: #d9d9d9;
    width: 52.1rem;
    left: 70rem;
    font-weight: 400;
    box-sizing: border-box;
    height: 5.5rem;
    line-height: 1.375;
    color: #9a9191;

    .auto-group-xxns-KF1-sub-0 {
      font-weight: 400;
      line-height: 1.375;
      color: rgba(2, 66, 0, 0.4799999893);
      font-family: Linden Hill, 'Source Sans Pro';
      font-size: 3rem;
    }
    .auto-group-xxns-KF1-sub-1 {
    }
  }
  .auto-group-mrkm-Qvf {
    width: 52.1rem;
    height: 5.6rem;
    top: 45.9rem;
    font-weight: 400;
    line-height: 1.375;
    box-sizing: border-box;
    padding: 1rem 2rem 0.4rem 2rem;
    text-align: center;
    color: #000000;
    background-color: #d9d9d9;
    position: absolute;
    font-size: 3rem;
    left: 70rem;
    font-family: Linden Hill, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-3nd1-sJT {
    top: 54.6rem;
    white-space: nowrap;
    padding: 1.2rem 2rem 0.3rem 2rem;
    font-size: 3rem;
    font-family: Linden Hill, 'Source Sans Pro';
    background-color: #d9d9d9;
    width: 52.1rem;
    font-weight: 400;
    line-height: 1.375;
    height: 5.7rem;
    position: absolute;
    left: 70rem;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
  }
  .auto-group-xhqm-uW3 {
    padding: 1.8rem 2.65rem 0rem 2rem;
    width: 52.1rem;
    left: 70rem;
    top: 63.2rem;
    background-color: #d9d9d9;
    box-sizing: border-box;
    height: 6rem;
    position: absolute;
    display: flex;
    align-items: center;

    .password-icon-1-zXV {
      opacity: 0.8;
      width: 2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1rem 0.4rem 0rem;
    }
    .password-hgo {
      font-size: 3rem;
      color: rgba(2, 66, 0, 0.4799999893);
      font-family: Linden Hill, 'Source Sans Pro';
      margin-right: 31.15rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.375;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .eye-1-Rco {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 2.1rem;
      height: 1.35rem;
      position: relative;
    }
  }
  .auto-group-whz5-9oh {
    position: absolute;
    left: 70rem;
    top: 81.1rem;
    align-items: center;
    background-color: #d9d9d9;
    box-sizing: border-box;
    width: 52.1rem;
    display: flex;
    padding: 1.6rem 2.85rem 0.2rem 2rem;
    height: 6rem;

    .date-of-birth-eEf {
      color: #000000;
      font-family: Linden Hill, 'Source Sans Pro';
      margin-right: 31.25rem;
      font-weight: 400;
      line-height: 1.375;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      white-space: nowrap;
    }
    .expanddown-yGw {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.8rem;
      width: 1.5rem;
      height: 0.75rem;
      object-fit: contain;
    }
  }
  .auto-group-fhco-J4K {
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    justify-content: center;
    width: 43.2rem;
    position: absolute;
    text-align: center;
    color: #fdcc79;
    align-items: center;
    height: 7.2rem;
    font-size: 3.5rem;
    line-height: 1.375;
    background-color: #024200;
    border-radius: 9rem;
    left: 74rem;
    top: 102.9rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .auto-group-zmj9-N4B {
    position: absolute;
    left: 70rem;
    top: 91.9rem;
    display: flex;
    align-items: center;
    width: 36.2rem;
    height: 4.2rem;

    .done-h6T {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.6rem 0.8rem 0rem;
    }
    .agree-to-terms-conditions-ovB {
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.375;
      color: #000000;
      font-family: Linden Hill, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-4pco-7fy {
    box-sizing: border-box;
    padding: 1.8rem 2.65rem 0rem 2rem;
    width: 52.1rem;
    left: 70rem;
    align-items: center;
    background-color: #d9d9d9;
    height: 6rem;
    position: absolute;
    top: 72.2rem;
    display: flex;

    .password-icon-2-BQw {
      margin: 0rem 1rem 0.4rem 0rem;
      opacity: 0.8;
      width: 2rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .confirm-password-Hym {
      text-align: center;
      font-size: 3rem;
      line-height: 1.375;
      white-space: nowrap;
      margin-right: 21.15rem;
      font-weight: 400;
      color: rgba(2, 66, 0, 0.4799999893);
      font-family: Linden Hill, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .eye-2-1um {
      flex-shrink: 0;
      margin-bottom: 1.5rem;
      width: 2.1rem;
      height: 1.35rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-dfpr-woR {
    position: absolute;
    left: 69rem;
    top: 121.2rem;
    display: flex;
    align-items: flex-start;
    width: 30rem;
    height: 4.2rem;

    .bellpin-swy {
      width: 2.7rem;
      height: 2.9rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.2rem 1.3rem 0rem 0rem;
    }
    .send-recommendations-Qh1 {
      font-weight: 400;
      line-height: 1.375;
      color: #000000;
      font-family: Linden Hill, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 3rem;
    }
  }
  .already-have-an-account-8N7 {
    text-align: center;
    font-size: 2.5rem;
    text-decoration-line: underline;
    position: absolute;
    left: 84.35rem;
    line-height: 1.375;
    letter-spacing: 0.075rem;
    font-family: Linden Hill, 'Source Sans Pro';
    white-space: nowrap;
    width: 24.3rem;
    top: 113.5rem;
    font-weight: 400;
    height: 3.5rem;
    color: #000000;
  }
}
