
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.tv-1-2Z1 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-ierp-xxT {
    height: 1.9rem;
    position: absolute;
    left: 75.7rem;
    top: 78.4rem;
    display: flex;
    align-items: center;
    width: 40.6rem;

    .create-account-HE3 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 17rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .forgot-password-z8T {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
  .log-in-button-vXu {
    white-space: nowrap;
    color: #ffffff;
    width: 16.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    align-items: center;
    border-radius: 3rem;
    font-size: 2rem;
    position: absolute;
    left: 87.5rem;
    top: 54rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 5.2rem;
  }
  .auto-group-wstb-na7 {
    left: 77.4rem;
    top: 39.4rem;
    width: 36.7rem;
    height: 11.7rem;
    position: absolute;

    .password-vAX {
      padding: 1.1rem 24.3rem 1.2rem 1.5rem;
      height: 4.5rem;
      position: absolute;
      left: 0;
      top: 7.2rem;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      background-color: rgba(176, 176, 176, 0.8000000119);
      border-radius: 0.5rem;
      width: 36.7rem;

      .password-icon-1-Ppo {
        margin-right: 1rem;
        opacity: 0.8;
        width: 2rem;
        height: 2.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .password-W8j {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        color: #000000;
        font-family: Josefin Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
      }
    }
    .email-t9H {
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 36.7rem;
      height: 11.7rem;

      .auto-group-zfdm-QNX {
        box-sizing: border-box;
        padding: 1.2rem 0.4rem 0rem 0.5rem;
        width: 100%;
        flex-direction: column;
        border-radius: 0.5rem;
        margin-bottom: 7.1rem;
        background-color: rgba(176, 176, 176, 0.8000000119);
        flex-shrink: 0;
        display: flex;

        .auto-group-wnzp-ie7 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 27.1rem 1.2rem 1rem;
          width: calc(100% - 28.1rem);

          .email-icon-2-1-eGs {
            width: 2rem;
            height: 1.425rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.1rem 1rem 0rem 0rem;
            opacity: 0.8;
          }
          .email-MBH {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1;
            color: #000000;
            font-family: Josefin Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .rectangle-5-muD {
          flex-shrink: 0;
          width: 100%;
          height: 0.1rem;
          background-color: #000000;
        }
      }
      .rectangle-6-HsZ {
        margin: 0rem 0.4rem 0rem 0.5rem;
        width: calc(100% - 0.9rem);
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
  }
  .log-in-1Hm {
    top: 27.7rem;
    line-height: 1.1825;
    white-space: nowrap;
    width: 13.4rem;
    height: 7.1rem;
    position: absolute;
    left: 89rem;
    font-size: 6rem;
    font-weight: 400;
    color: #000000;
    font-family: Londrina Solid, 'Source Sans Pro';
  }
  .log-in-background-3-1-iCB {
    position: absolute;
    left: 48.3452rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 5.4548rem;
    height: 1.3333rem;
  }
  .heading-r3V {
    height: 7rem;
    position: absolute;
    left: 15.9rem;
    top: 3.1rem;
    display: flex;
    align-items: center;
    width: 14rem;

    .armimo-logo-2-1-aEP {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .writing-1-Jw5 {
      margin-top: 0.1rem;
      width: 7rem;
      height: 2.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .log-in-background-3-1-3dm {
    padding: 2rem;
    top: 0;
    flex-direction: column;
    border: dashed 0.1rem #9747ff;
    overflow: hidden;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 260rem;
    height: 294rem;
    position: absolute;
    left: 0;
    border-radius: 0.5rem;

    .property-1default-y1d {
      width: 100%;
      height: 144rem;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2rem;
      box-sizing: border-box;
      padding: 6.667rem 44.3rem 8rem 26.545rem;
      position: relative;
      display: flex;

      .group-e7m {
        margin: 0rem 179.7rem 118rem 0rem;
        width: 5.4548rem;
        height: 1.3333rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-1-Kzb {
        position: relative;
        flex-shrink: 0;
        margin-left: 175.1548rem;
        width: 10rem;
        height: 10rem;
        overflow: hidden;
      }
    }
    .property-1variant2-4SP {
      box-sizing: border-box;
      padding: 6.667rem 44.3rem 8rem 26.545rem;
      width: 100%;
      overflow: hidden;
      align-items: center;
      height: 144rem;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-k4K {
        width: 5.4548rem;
        height: 1.3333rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 179.7rem 118rem 0rem;
      }
      .frame-1-GYT {
        margin-left: 175.1548rem;
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
      }
    }
  }
}
