<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../../Front-end/Game/Icons/Arm-mo Title Icon 2.png" type="image/x-icon">
  <title>Arm'mop: Login</title>
  <link rel="stylesheet" href=".././Font.css"/>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" />
  <link href="./login.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function getParameterByName(name) {
      var urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(name);
    }

    document.addEventListener('DOMContentLoaded', function () {
      var errorMessage = getParameterByName('error');
      if (errorMessage) {
        document.getElementById('error-message').textContent = errorMessage;
      }
    });
  </script>
</head>

<body>
  <div class="logo">
    <img alt="Writing12217" src="../About_us-login-signup/public/external/Armimo Logo.svg" class="logoImg" />
    <img alt="armimoLogo" src="../About_us-login-signup/public/external/logoText.png" class="armimoLogoText" />
  </div>
  <form action="https://localhost/Arm-mo/Back-end/login.php" class="form" method="post">
    <header class="header">
      <span class="header1">Log</span>
      <span class="yellow">In</span>
    </header>
    <input type="email" class="emailInput" name='username' placeholder="Email or Player Name" required>
    <div class="pwdIconWhole">
    </div>
    <input type="password" name='password' id="password" list="password-toggle" class="pwdInput" placeholder="Password"
      required>
    <datalist id="password-toggle">
      <option value="text">
    </datalist>
    <p id="error-message"></p>
    <a href="../Signup/Signup.html">
      Create an account</a>
    <button class="button" type="submit">Log in</button>
  </form>

  <script>
    $('.eye.one').on('click', function () {
      $('.pwdInput').attr('type', function (index, attr) {
        return attr === 'password' ? 'text' : 'password';
      });
      $('.eye.one').toggleClass('fas fa-eye-slash fas fa-eye');
    })
  </script>
</body>

</html>